AFQ.json
{
  "active": true,
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent_Coach_Antifragil",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "set_prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "data_AFQ",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "res_process": {
      "main": [
        [
          {
            "node": "update_process_expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_prompts": {
      "main": [
        [
          {
            "node": "data_AFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data_AFQ": {
      "main": [
        [
          {
            "node": "set_prompts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent_Coach_Antifragil": {
      "main": [
        [
          {
            "node": "find_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_prompts2": {
      "main": [
        [
          {
            "node": "AI_Agent_Coach_Antifragil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_email": {
      "main": [
        [
          {
            "node": "res_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AFQfile": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_process_expert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T23:06:52.890Z",
  "description": null,
  "id": "bF4zqWVTblERgeq4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AFQ",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "id": "8ea7e53a-8574-4433-8bba-a0aceb9d22cb",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2176,
        928
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "QHcEKyQfjZXrcwHF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "The CV is uploaded to Google Drive and converted so that it can be processed\n",
        "height": 592,
        "width": 908
      },
      "id": "56a8254c-2a92-47ab-8f02-fc6dbf8c0f86",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3232,
        656
      ],
      "id": "1dee252f-12e4-484d-9783-cc91dada74b6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2816,
        896
      ],
      "id": "32746193-5035-4b21-a5df-5ecb15e0531c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QHcEKyQfjZXrcwHF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el output del agente AI (texto plano)\nconst agentOutput = $('AI_Agent_Coach_Antifragil').first().json.output;\n\n// Función para parsear el texto plano con el formato clave: valor\nfunction parseAgentOutput(texto) {\n  const lineas = texto.split('\\n').filter(linea => linea.trim());\n  const datos = {};\n  let claveActual = null;\n  let valorActual = '';\n  \n  for (const linea of lineas) {\n    // Verificar si es una línea de clave (contiene : y no empieza con espacio)\n    if (linea.includes(':') && !linea.startsWith(' ') && !linea.startsWith('\\t')) {\n      // Guardar el valor anterior si existe\n      if (claveActual && valorActual.trim()) {\n        datos[claveActual] = valorActual.trim();\n      }\n      \n      // Extraer nueva clave y valor\n      const colonIndex = linea.indexOf(':');\n      claveActual = linea.substring(0, colonIndex).trim().toLowerCase();\n      valorActual = linea.substring(colonIndex + 1).trim();\n    } else if (claveActual) {\n      // Continuar acumulando valor en la misma línea\n      valorActual += ' ' + linea.trim();\n    }\n  }\n  \n  // Guardar el último valor\n  if (claveActual && valorActual.trim()) {\n    datos[claveActual] = valorActual.trim();\n  }\n  \n  return datos;\n}\n\n// Función para extraer puntajes numéricos del texto\nfunction extraerPuntaje(texto) {\n  // Buscar patrones como \"puntaje de 65\", \"65 puntos\", \"puntaje: 65\"\n  const patterns = [\n    /puntaje de (\\d+)/i,\n    /(\\d+) puntos?/i,\n    /puntaje:?\\s*(\\d+)/i,\n    /puntuación de (\\d+)/i,\n    /(\\d+),?\\s*un nivel/i\n  ];\n  \n  for (const pattern of patterns) {\n    const match = texto.match(pattern);\n    if (match) return parseInt(match[1]);\n  }\n  \n  return null;\n}\n\n// Función para extraer nivel del texto\nfunction extraerNivel(texto) {\n  const match = texto.match(/(Muy Alto|Alto|Medio|Bajo)/i);\n  return match ? match[1] : null;\n}\n\n// Parsear el output del agente\nconst datosParseados = parseAgentOutput(agentOutput);\n\n// Validar que tenemos las claves esenciales\nconst clavesEsenciales = ['nombre', 'edad', 'fecha_prueba', 'sector', 'categoriaprof', 'indice_antifragil'];\nconst clavesFaltantes = clavesEsenciales.filter(clave => !datosParseados[clave]);\n\n/* if (clavesFaltantes.length > 0) {\n  throw new Error(`Faltan claves esenciales en el output del agente: ${clavesFaltantes.join(', ')}`);\n}*/\n\n// Estructurar los datos con puntajes extraídos\nconst afqData = {\n  nombre: datosParseados.nombre,\n  edad: datosParseados.edad,\n  fecha_prueba: datosParseados.fecha_prueba,\n  sector: datosParseados.sector,\n  categoriaprof: datosParseados.categoriaprof,\n  \n  // Índice general\n  indice_antifragil: datosParseados.indice_antifragil,\n  puntaje_general: extraerPuntaje(datosParseados.indice_antifragil),\n  nivel_general: extraerNivel(datosParseados.indice_antifragil),\n  \n  // Dimensiones con puntajes extraídos\n  adaptacion_proactiva: {\n    contenido: datosParseados.adaptacion_proactiva,\n    puntaje: extraerPuntaje(datosParseados.adaptacion_proactiva),\n    nivel: extraerNivel(datosParseados.adaptacion_proactiva)\n  },\n  \n  evolucion_activa: {\n    contenido: datosParseados.evolucion_activa,\n    puntaje: extraerPuntaje(datosParseados.evolucion_activa),\n    nivel: extraerNivel(datosParseados.evolucion_activa)\n  },\n  \n  agilidad_emocional: {\n    contenido: datosParseados.agilidad_emocional,\n    puntaje: extraerPuntaje(datosParseados.agilidad_emocional),\n    nivel: extraerNivel(datosParseados.agilidad_emocional)\n  },\n  \n  destructividad_consciente: {\n    contenido: datosParseados.destructividad_consciente,\n    puntaje: extraerPuntaje(datosParseados.destructividad_consciente),\n    nivel: extraerNivel(datosParseados.destructividad_consciente)\n  },\n  \n  liderazgo_antifragil: datosParseados.liderazgo_antifragil,\n  \n  // Metadata\n  fecha_procesamiento: new Date().toISOString(),\n  //*ANDRES texto_original: agentOutput\n};\n\n// Preparar datos para actualizar el paso AFQ (orden 2, índice 1)\nconst updateData = {\n  pasos: {\n    update_path: '[1]',\n    update_data: {\n      datos: afqData,\n      completado: true,\n      fecha_completado: new Date().toISOString()\n    }\n  },\n  paso_actual:3\n};\n\nreturn {\n  // expert_id: $('find_email').first().json.id,\n  expert_id:$(\"Code\").first().json.expert_id,\n  update_data: updateData,\n  processed_data: afqData,\n  parsing_success: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        656
      ],
      "id": "a5fd7e30-d6c3-4846-899e-900d227b1c59",
      "name": "res_process"
    },
    {
      "parameters": {
        "content": "The essential information for evaluating the candidate is collected",
        "height": 592,
        "width": 520,
        "color": 5
      },
      "id": "a9a57f6f-cbcf-4b29-ab0d-3ae1d6e94eeb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2928,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Summary of relevant information useful for classifying the candidate",
        "height": 620,
        "width": 1160,
        "color": 4
      },
      "id": "1b29840f-08b9-4060-9e32-da8ce150513f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2affc283-2be0-4e7d-ab1e-c0c2d7426ddc",
              "name": "Input_Schema",
              "value": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"NOMBRE\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre completo de la persona evaluada\"\n    },\n    \"FECHA DE LA PRUEBA\": {\n      \"type\": \"string\",\n      \"description\": \"Fecha de aplicación del cuestionario en formato YYYY-MM-DD\"\n    },\n    \"EDAD\": {\n      \"type\": \"string\",\n      \"description\": \"Edad de la persona en años\"\n    },\n    \"SECTOR\": {\n      \"type\": \"string\",\n      \"description\": \"sector en el que se se desempena\"\n    },\n    \"CATEGORIAPROF\": {\n      \"type\": \"string\",\n      \"description\": \"CATEGORÍA PROFESIONAL\"\n    },\n    \"Adaptación proactiva Punt. T\": {\n      \"type\": \"string\",\n      \"description\": \"Puntuación T de la dimensión Adaptación proactiva\"\n    },\n    \"Evolución activa Punt. T\": {\n      \"type\": \"string\",\n      \"description\": \"Puntuación T de la dimensión Evolución activa\"\n    },\n    \"Agilidad emocional Punt. T\": {\n      \"type\": \"string\",\n      \"description\": \"Puntuación T de la dimensión Agilidad emocional\"\n    },\n    \"Destructividad consciente Punt. T\": {\n      \"type\": \"string\",\n      \"description\": \"Puntuación T de la dimensión Destructividad consciente\"\n    },\n    \"Índice de antifragilidad Punt. T\": {\n      \"type\": \"string\",\n      \"description\": \"Puntuación T del índice global de antifragilidad\"\n    }\n  },\n  \"required\": [\n    \"NOMBRE\",\n    \"FECHA DE LA PRUEBA\", \n    \"EDAD\",\n    \"SECTOR\",\n    \"CATEGORIAPROF\",\n    \"Adaptación proactiva Punt. T\",\n    \"Evolución activa Punt. T\",\n    \"Agilidad emocional Punt. T\",\n    \"Destructividad consciente Punt. T\",\n    \"Índice de antifragilidad Punt. T\"\n  ],\n  \"additionalProperties\": false\n}",
              "type": "string"
            },
            {
              "id": "8202c188-a9ee-4b42-8fec-c78e8d78723b",
              "name": "prompt_lectura_afq",
              "value": "Eres un asistente especializado en extraer información específica de informes PDF del Cuestionario de Anti-Fragilidad (AFQ) de Giunti Psychometrics.\n\nTu tarea:\nAnalizar el contenido del PDF y extraer únicamente los siguientes datos específicos en formato JSON:\n\nCampos requeridos:\nDebes extraer estos campos exactos:\n- NOMBRE (nombre completo)\n- FECHA DE LA PRUEBA (formato YYYY-MM-DD)\n- EDAD (solo el número)\n- SECTOR (SOLO sector en el que se se desempena)\n- CATEGORIAPROF (CATEGORÍA PROFESIONAL)\n- Adaptación proactiva Punt. T (valor numérico)\n- Evolución activa Punt. T (valor numérico)\n- Agilidad emocional Punt. T (valor numérico)\n- Destructividad consciente Punt. T (valor numérico)\n- Índice de antifragilidad Punt. T (valor numérico)\n\nInstrucciones específicas:\n\n1. NOMBRE: Extraer el nombre completo que aparece en la primera página del informe\n2. FECHA DE LA PRUEBA: Formato exacto como aparece en el documento (YYYY-MM-DD)\n3. EDAD: Solo el número de la edad\n4. Puntuaciones T: Para cada dimensión, extraer únicamente el valor numérico de \"Punt. T\" que aparece en la sección \"Compendio de puntuaciones\"\n\nUbicación de los datos:\n- Datos personales: Primera página del informe\n- Puntuaciones T: Sección \"Compendio de puntuaciones\" (solo en páginas  05 / 13 y 06 / 13 típicamente)\n- Las puntuaciones aparecen como \"Punt. T\" seguido del número\n\nVerificar los resultados 2 veces\n\nFormato de salida:\nDevuelve ÚNICAMENTE un objeto JSON válido con los campos especificados. No incluyas explicaciones adicionales, comentarios o texto fuera del JSON.\n\nManejo de valores faltantes:\n- Si un valor no se encuentra, usa una cadena vacía \"\"\n- Si una puntuación aparece como \"null\", mantén \"null\" como string\n\nEjemplo de salida esperada:\nDevuelve un JSON con esta estructura exacta:\nNOMBRE: \"Tyrone Alberto Bociga Dorado\"\nFECHA DE LA PRUEBA: \"2025-07-15\"\nEDAD: \"61\"\nSECTOR: \"Retail\"\nCATEGORIAPROF: \"Senior manager\"\nAdaptación proactiva Punt. T: \"71\"\nEvolución activa Punt. T: \"62\"\nAgilidad emocional Punt. T: \"66\"\nDestructividad consciente Punt. T: \"45\"\nÍndice de antifragilidad Punt. T: \"63\"\n\nProcesa el contenido del PDF y extrae únicamente estos datos en el formato JSON especificado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3232,
        960
      ],
      "id": "7cbaf912-0ac3-4bb4-8e93-4e0d662b9adf",
      "name": "set_prompts"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File').item.json.text }}",
        "schemaType": "manual",
        "inputSchema": "={{$('set_prompts').item.json['Input_Schema']}}",
        "options": {
          "systemPromptTemplate": "={{$('set_prompts').item.json['prompt_lectura_afq']}}"
        }
      },
      "id": "3012df9b-b28b-4265-b7d4-c341ce3ec829",
      "name": "data_AFQ",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -2768,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('set_prompts2').item.json['prompt_user_Coach_Antifragil '] }}",
        "options": {
          "systemMessage": "={{ $('set_prompts2').item.json['prompt_system_Coach_Antifragil '] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2240,
        656
      ],
      "id": "23f7ea5a-347b-48ea-a556-2fa45baece80",
      "name": "AI_Agent_Coach_Antifragil"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc95f6e5-ec90-4bd3-b0d6-6f034e8a7ba6",
              "name": "prompt_user_Coach_Antifragil ",
              "value": "=Genera un informe de coaching personalizado para el liderazgo antifrágil basado en los siguientes resultados del Cuestionario AFQ:\nDatos de la persona:\nNombre: {{ $json.output.NOMBRE }}\nEdad: {{ $json.output.EDAD }}\nFecha de la prueba: {{ $json.output['FECHA DE LA PRUEBA'] }}\nsector: {{ $json.output.SECTOR }}\ncategoriaprof: {{ $json.output.CATEGORIAPROF }}\nPuntuaciones obtenidas:\nAdaptación proactiva: {{ $json.output['Adaptación proactiva Punt. T'] }} puntos\nEvolución activa: {{ $json.output['Evolución activa Punt. T'] }} puntos\nAgilidad emocional: {{ $json.output['Agilidad emocional Punt. T'] }} puntos\nDestructividad consciente: {{ $json.output['Destructividad consciente Punt. T'] }} puntos\nÍndice de antifragilidad: {{ $json.output['Índice de antifragilidad Punt. T'] }} puntos\nCrea el informe completo siguiendo la estructura y tono especificados en tu rol de coach antifrágil.\n",
              "type": "string"
            },
            {
              "id": "801b7cd2-ec7a-4cac-9fea-d0c6f4322d38",
              "name": "prompt_system_Coach_Antifragil ",
              "value": "=Actua como un experto en liderazgo, comportamiento humano y desarrollo de talento senior con enfoque en antifragilidad.\nTu tarea es generar un informe narrativo, claro y motivador, que ayude a la persona a entender y conectar con su indice de Antifragilidad (AFQ), integrando reflexion, autoconocimiento y posibles caminos para mentoria.\nEl informe debe tener las siguientes secciones:\n\n1. indice General de Antifragilidad\nExplica brevemente que mide el indice y por que es importante para un profesional senior (maximo 20 palabras). \nPresenta el resultado general del AFQ (indice de antifragilidad) y su nivel (Muy alto, Alto, Medio, Bajo, Muy bajo).\nExplica con lenguaje claro que implica ese resultado en terminos de comportamiento, liderazgo, apertura al cambio, uso del error, toma de decisiones, etc.\nRefleja que tipo de potencial se asocia a ese puntaje y como se proyecta dentro de una red de expertos antifragiles.\nNo exageres ni uses metaforas innecesarias. Se directo, empatico y profesional.\n\n2. Analisis por Dimension\na. Menciona el puntaje obtenido y su nivel (Muy Alto, Alto, Medio, Bajo, Muy bajo).\n  - 25-34: Muy bajo - area de desarrollo prioritario\n  - 35-44: Bajo - Oportunidad de crecimiento significativo\n  - 45-54: Medio - Capacidad en desarrollo\n  - 55-64: Alto - Fortaleza consolidada\n  - 65-75: Muy alto - Fortaleza excepcional\nb. Incluye al principio de cada dimension su descripcion. Siempre el mismo texto para cada una, referirse al experto en tercera persona, singular, omitiendo el nombre del experto en el analisis.\nc. Explica que mide la dimension, en terminos simples pero precisos.\n    DIMENSIONES AFQ E INTERPRETACIONES:    \n    ADAPTACIoN PROACTIVA\n    Descripcion: Evalua la capacidad de responder de forma flexible, creativa y rapida ante lo inesperado, identificando recursos disponibles y aprovechando oportunidades.\n    Puntuaciones Altas (45-75):\n    Caracteristicas: Flexibles, creativas e intuitivas, conscientes de sus propios recursos. Saben aprovechar las oportunidades al afrontar eventos imprevistos y poseen grandes capacidades de analisis y resolucion de problemas. Estan focalizadas en sus propios objetivos.\n    Puntuaciones Bajas (25-44):\n    Caracteristicas: Prefieren utilizar estrategias de resolucion de problemas que ya conocen y les han resultado eficaces anteriormente aplicando modalidades menos proactivas. Estan mas concentradas en las dificultades que en sus propios recursos y corren el riesgo de sufrir la influencia de los acontecimientos externos y perder de vista sus propios objetivos.\n    EVOLUCIoN ACTIVA\n    Descripcion: Mide la motivacion hacia la novedad, el aprendizaje continuo y la disposicion a enfrentar desafios sin certezas.\n    Puntuaciones Altas (45-75):\n    Caracteristicas: Con curiosidad, competitivas, en busca de experiencias nuevas y originales, y que tienden a hacer propuestas. Amantes del riesgo y los desafios. Se caracterizan por el deseo de salir de su zona de confort y aprender de las situaciones nuevas. Se encuentran comodas en situaciones inciertas.\n    Puntuaciones Bajas (25-44):\n    Caracteristicas: Buscan seguridad y certeza en actividades repetitivas y poco competitivas. Les gusta dedicarse a actividades que controlen plenamente y prefieren los contextos conocidos a las situaciones nuevas y los cambios.\n    AGILIDAD EMOCIONAL\n    Descripcion: Evalua la capacidad de gestionar emociones en funcion de los objetivos, ya sea asociandose o tomando distancia segun convenga.\n    Puntuaciones Altas (45-75):\n    Caracteristicas: Equilibradas, conscientes de sus propias emociones, involucradas o separadas emocionalmente en funcion de sus propios objetivos. Saben describir, mas que juzgar, las situaciones y los acontecimientos.\n    Puntuaciones Bajas (25-44):\n    Caracteristicas: Propensas a asumir una actitud considerablemente autocritica, que, sin embargo, puede llevar a desarrollar una mentalidad juzgadora, con tendencia a dejarse llevar por la situacion sin conseguir manejar las propias reacciones emocionales.\n    DESTRUCTIVIDAD CONSCIENTE\n    Descripcion: Evalua la capacidad de romper patrones mentales o sociales que ya no son utiles, para abrir paso a nuevas formas de pensar y actuar.\n    Puntuaciones Altas (45-75):\n    Caracteristicas: Seguras de si mismas, asertivas, \"cinicas\", calculadoras, eficaces respecto a las prioridades, concienciadas y lucidas. Son capaces de abandonar lo que es superfluo y no resulta funcional para alcanzar los objetivos y no estan vinculadas al \"sentir comun\" o los valores convencionales.\n    Puntuaciones Bajas (25-44):\n    Caracteristicas: Que buscan activamente el acuerdo y, por tanto, pueden quedar bajo la influencia de la opinion comun. Muy diplomaticas y vinculadas a sus propios valores. Presentan ciertas dificultades para modificar o abandonar costumbres disfuncionales o superfluas.\nd. Analiza el resultado personal del experto en esa dimension. Que dice sobre su forma de actuar, pensar o liderar.\ne. Detalla las características asociadas a un puntaje alto, medio o bajo. Así eliminamos cualquier referencia a evaluaciones positivas o negativas y nos quedamos solo con la descripción.\nf. Formula 3 preguntas potentes, que:\n  Conecten el resultado con vivencias reales (pasadas o actuales),\n  Inviten a identificar ejemplos propios,\n  Motiven a una accion concreta o a cuestionar un patron.\ng.Sugiere temas de mentoria o contribucion basados en la dimension evaluada (en formato de lista).\n3. Tu Liderazgo Antifragil\nEmpezar con algo como 'Tu liderazgo '.\nUna seccion integradora y de cierre. Usa tono reflexivo y motivador.\nExplica que se puede concluir del conjunto de resultados. Que fortalezas componen su liderazgo antifragil, que tipo de impacto puede tener en otros, y que espacio podria ocupar en una red de expertos.\nCierra con una frase potente que inspire e invite a seguir evolucionando como lider antifragil.\n4. Estilo \nLenguaje claro, sin metaforas excesivas, a nivel general alusivas con su perfil de liderazgo y roles. Debe ser general y  no explicito.\nReferirse al experto en tercera persona, singular, omitiendo el nombre del experto en el analisis. No hagas referencia a ningun autor especifico, puedes usar expresiones como “tu perfil muestra que…”, pero nunca digas quien la realizo.\nTono empatico, reflexivo y estrategico. \nSin exagerar fortalezas ni dramatizar areas bajas.\nQue motive a actuar, sin juzgar. \n\nPETICIoN NEGATIVA:\n- PROHIBIDO: No utilizar las palabras \"resiliente\" o \"resiliencia\" en ninguna parte del informe. Usa terminos alternativos como: adaptabilidad, fortaleza, capacidad de recuperacion, tenacidad, flexibilidad, robustez, o antifragilidad, no utilizar frases como 'Integrando tus resultado', no utilizar palabras como \"evalúa\" o \"mide\" en ninguna parte del informe. Usa terminos alternativos como: diagnostico, identifica, indica, refleja.\n\n\nINSTRUCCIONES DE FORMATO Y ENTREGA:\n1. Entrega directa en texto plano: Proporciona ÚNICAMENTE el informe completo en formato de texto limpio, sin envolverlo en arrays JSON, bloques de código o estructuras adicionales, no utilizar markdown, no repetir los títulos.\n\n2. Formato de salida obligatorio: Usa EXACTAMENTE este formato con estas claves y estructura:\n\nnombre: [Nombre completo sin comillas]\nedad: [Solo el número de edad]\nfecha_prueba: [Fecha en formato YYYY-MM-DD]\nsector: [Sector profesional sin comillas]\ncategoriaprof: [Categoria profesional sin comillas]\n\nindice_antifragil: [Tu análisis completo del Índice General de Antifragilidad.Debe ser un párrafo continuo sin saltos de línea internos, (200-300 palabras)]\n\nadaptacion_proactiva: [Tu análisis completo de Adaptación Proactiva. Debe ser un texto continuo sin saltos de línea internos, (100-150 palabras)]\n\nevolucion_activa: [Tu análisis completo de Evolución Activa. Debe ser un texto continuo sin saltos de línea internos, (100-150 palabras)]\n\nagilidad_emocional: [Tu análisis completo de Agilidad Emocional. Debe ser un texto continuo sin saltos de línea internos, , (100-150 palabras)]\n\ndestructividad_consciente: [Tu análisis completo de Destructividad Consciente. Debe ser un texto continuo sin saltos de línea internos, (100-150 palabras)]\n\nliderazgo_antifragil: [Tu análisis completo del Liderazgo Antifrágil como síntesis final, incluyendo la frase inspiracional final entre comillas. Debe ser un texto continuo sin saltos de línea internos, (200-250 palabras) EN 2 parrafos]\n\n3. Reglas críticas de formato:\n   - Usar EXACTAMENTE las claves mostradas (nombre, edad, fecha_prueba, etc.)\n   - Cada clave debe ir seguida de dos puntos y un espacio\n   - Cada valor debe estar en una sola línea continua (sin saltos internos)\n   - Separar cada sección con una línea en blanco\n   - NO usar comillas en los valores\n   - NO usar caracteres especiales de escape\n   - Los puntajes deben aparecer como números dentro del texto de análisis\n\n4. Respuesta completa: Asegúrate de completar TODAS las secciones del informe siguiendo exactamente el orden y formato especificado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2624,
        960
      ],
      "id": "578c5ad7-961c-48c3-ba0c-1c31b9bc368b",
      "name": "set_prompts2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- To find experts with \"Juan\" in their name\nSELECT * FROM experts WHERE correo_electronico ILIKE '%{{ $('File Updated').item.json.name.replace(/\\.pdf$/, \"\"); }}%';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1856,
        656
      ],
      "id": "cc088c20-04c7-4a9a-a678-159dfe3c3f9d",
      "name": "find_email",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nconst currentInput = $json;\nconst expertId = currentInput.expert_id || currentInput.body?.expert_id || null;\n\nfor (let item of items) {\n    if (item.binary) {\n        // If there's binary data in the item, process each binary file\n        for (let key in item.binary) {\n            // Use the key as the file name\n            let binaryKey = key.replace(/\\s/g, '_'); // Replace spaces with underscores for the key\n            results.push({\n                json: {\n                    fileName: binaryKey,\n                    expert_id: expertId\n                },\n                binary: {\n                    [binaryKey]: item.binary[key] // Use the modified key for the binary data\n                }\n            });\n        }\n    }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3504,
        656
      ],
      "id": "d02d5e55-5be8-497b-b95c-41bdf343ac4c",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "formTitle": "Archivos CV",
        "formFields": {
          "values": [
            {
              "fieldLabel": "afqfile",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            },
            {
              "fieldLabel": "expert_id",
              "placeholder": "bbff9d1f-8c67-4e3a-8cdb-dad65e562059"
            }
          ]
        },
        "options": {}
      },
      "id": "6ae1d35c-a662-4ba1-8693-9d2cee82577d",
      "name": "AFQfile",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -3808,
        880
      ],
      "webhookId": "7634b283-53d4-47b4-8c59-cadc711160cd",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/recibirAFQ",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "AFQ_PDF_"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3824,
        656
      ],
      "id": "073d1f00-e3d0-47f5-9296-5f96093383f8",
      "name": "Webhook",
      "webhookId": "c0c9f429-fccc-4c13-a061-3868d8e879ad"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE process_expert\nSET pasos = jsonb_set(\n    jsonb_set(\n        jsonb_set(\n            pasos,\n            '{1,completado}',\n            '{{ $json.update_data.pasos.update_data.completado ? \"true\" : \"false\" }}'::jsonb,\n            false\n        ),\n        '{1,fecha_completado}',\n        '\"{{ $json.update_data.pasos.update_data.fecha_completado }}\"'::jsonb,\n        false\n    ),\n    '{1,datos}', \n       $J$ {{ JSON.stringify($json.processed_data) }} $J$::jsonb,  -- JSON como texto + ::jsonb\n    false\n),\npaso_actual = {{ $json.update_data.paso_actual }}\nWHERE expert_id = '{{ $json.expert_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1664,
        896
      ],
      "id": "766949e2-3879-48c4-b854-a20f07518dc7",
      "name": "update_process_expert",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[\n  {\n    \"success\": {{ $json.success }},\n    \"Completado\" : {{ $json.success }}\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1408,
        896
      ],
      "id": "0eeff6e8-4e8d-4b54-aaaa-64a7ee8b60c8",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "NGjyMI2AmwkoCk0L"
  },
  "shared": [
    {
      "updatedAt": "2025-07-22T23:06:52.890Z",
      "createdAt": "2025-07-22T23:06:52.890Z",
      "role": "workflow:owner",
      "workflowId": "bF4zqWVTblERgeq4",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "createdAt": "2025-07-01T19:23:18.030Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "createdAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "updatedAt": "2025-12-04T15:07:23.783Z",
              "createdAt": "2025-07-01T19:23:15.406Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-08-01T22:11:49Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-08-24T18:41:59Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-07T02:27:05.406Z",
  "versionCounter": 2,
  "versionId": "33711131-8733-434c-b28a-c813947d75af"
}