BackUp to GitHub.json
{
  "active": false,
  "connections": {
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "N8N Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dataArray": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "N8N Workflow Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily @ 20:00": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflows": {
      "main": [
        [
          {
            "node": "dataArray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "N8N Workflow Detail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T19:23:12.996Z",
  "description": null,
  "id": "m8kXG4h21wPGDlmo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BackUp to GitHub",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1024,
        -128
      ],
      "typeVersion": 1,
      "id": "d309171c-8b3c-4add-92c8-8adc29836a85"
    },
    {
      "parameters": {
        "functionCode": "const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"
      },
      "name": "dataArray",
      "type": "n8n-nodes-base.function",
      "position": [
        -480,
        64
      ],
      "typeVersion": 1,
      "id": "e49c1a1d-faea-4707-9b63-5a88ef0fd7e0"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "https://primary-production-baed.up.railway.app/api/v1/workflows",
        "options": {}
      },
      "name": "N8N Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -624,
        64
      ],
      "typeVersion": 1,
      "id": "5ca9df39-36b3-4aec-bb66-15f5fbedef1c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6hLWds9bQJAQCg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        -32,
        -112
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "2a03f1e8-b0bd-4b61-8f66-3d7037a16c23",
      "webhookId": "8936ef2b-e07b-44f9-90e1-2f021376dc7a",
      "credentials": {
        "githubApi": {
          "id": "qWBOZ8IxLVmEvRMf",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        160,
        64
      ],
      "typeVersion": 1,
      "id": "eb547de5-7268-4630-a90a-a5c6fb7c215c"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://primary-production-baed.up.railway.app/api/v1/workflows/{{$json[\"id\"]}}",
        "options": {}
      },
      "name": "N8N Workflow Detail",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -32,
        224
      ],
      "typeVersion": 1,
      "id": "2c798f7c-34a2-40ea-84f0-4fb2563e0c20",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mk6hLWds9bQJAQCg",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        864,
        96
      ],
      "typeVersion": 1,
      "id": "52795513-7def-4bd2-8aed-f37efcac0395"
    },
    {
      "parameters": {},
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1072,
        -272
      ],
      "typeVersion": 1,
      "id": "5ef3bec9-a278-4203-bf86-f41ce02f096b"
    },
    {
      "parameters": {},
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1088,
        -16
      ],
      "typeVersion": 1,
      "id": "a95fdf20-e197-4de8-8bfe-f99bc6dc08be"
    },
    {
      "parameters": {},
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1056,
        256
      ],
      "typeVersion": 1,
      "id": "26ee4813-22ff-4fe5-82de-6d7653b199ec"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('N8N Workflow Detail').first().json.name }}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json.name}}.json ({{$json[\"github_status\"]}})"
      },
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1264,
        16
      ],
      "typeVersion": 1,
      "id": "16e1a3a1-2033-4042-a942-2d689038950d",
      "webhookId": "ba072c79-ca77-4a00-8de2-7fab30e0d601",
      "credentials": {
        "githubApi": {
          "id": "qWBOZ8IxLVmEvRMf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"N8N Workflow Detail\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1264,
        256
      ],
      "typeVersion": 1,
      "id": "7dcbfb2d-ea66-46f4-9395-dad2be6d8372",
      "webhookId": "fed334c2-93b5-4059-97b1-5f97e494b626",
      "credentials": {
        "githubApi": {
          "id": "qWBOZ8IxLVmEvRMf",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 20,
              "minute": 11
            }
          ]
        }
      },
      "name": "Daily @ 20:00",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1024,
        208
      ],
      "typeVersion": 1,
      "id": "e5dd8f2e-1e5e-4298-8f46-d9aafc146bf3"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -240,
        32
      ],
      "typeVersion": 1,
      "id": "e014806e-c176-453f-85df-e4b0ebf001a2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "anlemoca-ur"
            },
            {
              "name": "repo.name",
              "value": "antifragil_n8n"
            },
            {
              "name": "repo.path"
            }
          ]
        },
        "options": {}
      },
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -784,
        64
      ],
      "typeVersion": 1,
      "id": "1f9245a4-5a8a-46ac-b4db-f6493c5bc3d3"
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys(items[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = eval(\"(\"+Buffer.from(items[0].json.content, 'base64').toString()+\")\");\n  var n8nWorkflow = items[1].json; // CAMBIO: Directamente items[1].json, sin .data\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    items[0].json.github_status = \"same\";\n    items[0].json.content_decoded = orderedOriginal;\n  } else {\n    items[0].json.github_status = \"different\";\n    items[0].json.content_decoded = orderedOriginal;\n    items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = items[1].json; // CAMBIO: Directamente items[1].json, sin .data\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  items[0].json.github_status = \"new\";\n  items[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n// Return Items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        128
      ],
      "id": "38e00ac8-5900-47fa-8949-d040824b8a41",
      "name": "isDiffOrNew"
    },
    {
      "parameters": {
        "jsCode": "// ===========================================\n// CÓDIGO DE DEPURACIÓN TEMPORAL\n// ===========================================\n\nconsole.log(\"=== DEBUGGING ===\");\nconsole.log(\"Total items:\", items.length);\n\n// Ver cada item\nitems.forEach((item, index) => {\n  console.log(`\\n--- Item ${index} ---`);\n  console.log(\"Keys:\", Object.keys(item.json));\n  console.log(\"Full JSON:\", JSON.stringify(item.json, null, 2));\n});\n\n// Verificar estructura específica\nif (items[1]) {\n  console.log(\"\\n--- items[1] detail ---\");\n  console.log(\"items[1].json existe?\", !!items[1].json);\n  console.log(\"items[1].json.data existe?\", !!items[1].json?.data);\n  \n  if (items[1].json) {\n    console.log(\"Keys de items[1].json:\", Object.keys(items[1].json));\n  }\n}\n\n// Retornar items sin modificar para ver el output\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -336
      ],
      "id": "3e926677-8a69-451c-9fa0-f7a24a115509",
      "name": "Code Depuracion",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-31T19:23:12.996Z",
      "createdAt": "2025-10-31T19:23:12.996Z",
      "role": "workflow:owner",
      "workflowId": "m8kXG4h21wPGDlmo",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "createdAt": "2025-07-01T19:23:18.030Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "createdAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "updatedAt": "2025-12-04T15:07:23.783Z",
              "createdAt": "2025-07-01T19:23:15.406Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T21:35:13.204Z",
  "versionCounter": 3,
  "versionId": "00ca4e54-d991-49a1-a31a-db403f45b7ec"
}