Empresa Sector Economico datos abiertos.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Iteracion Nombres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Iteracion Nombres": {
      "main": [
        [
          {
            "node": "Search Engine Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Datos Abiertos": {
      "main": [
        [
          {
            "node": "Extraer nombre y sector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer nombre y sector": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Engine Empresa": {
      "main": [
        [
          {
            "node": "ExtraerURLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtraerURLs": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "ScrapingURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapingURL": {
      "main": [
        [
          {
            "node": "ExtraerTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtraerTexto": {
      "main": [
        [
          {
            "node": "Consolidar",
            "type": "main",
            "index": 0
          },
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar": {
      "main": [
        [
          {
            "node": "Responder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-12T01:30:45.488Z",
  "id": "pvXn6ykdEQlFLoNz",
  "isArchived": false,
  "meta": null,
  "name": "Empresa Sector Economico datos abiertos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-sector",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -416,
        -576
      ],
      "id": "8e766f18-3936-413a-bd81-013fd96b7f0a",
      "webhookId": "3ab17ff3-e6b5-494b-9789-706e0f7a0c23"
    },
    {
      "parameters": {
        "functionCode": "const nombres = $json[\"nombres\"] || [];\nreturn nombres.map(nombre => ({ json: { nombre } }));"
      },
      "name": "Preparar Iteracion Nombres",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        -576
      ],
      "id": "e39da7f7-35bd-4fe5-bf31-1683ac7632be"
    },
    {
      "parameters": {
        "url": "https://www.datos.gov.co/resource/cas9-r54x.json",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "$where",
              "value": "UPPER(razon_social) like '%{{$json.nombre.toUpperCase()}}%'"
            }
          ]
        }
      },
      "name": "Consulta Datos Abiertos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        192,
        -256
      ],
      "id": "3be3a8b7-640e-481c-9d2a-55d1b92deb44"
    },
    {
      "parameters": {
        "functionCode": "return items.flatMap(item => {\n  if (!Array.isArray(item.json)) {\n    return [{\n      json: {\n        nombre: item.json.razon_social || null,\n        sector_economico: item.json.actividad_ciiu || null\n      }\n    }];\n  }\n  return item.json.map(data => ({\n    json: {\n      nombre: data.razon_social,\n      sector_economico: data.actividad_ciiu\n    }\n  }));\n});"
      },
      "name": "Extraer nombre y sector",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        432,
        -256
      ],
      "id": "111f6607-a0de-4362-b816-ff24a9c696b4"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        688,
        -256
      ],
      "id": "d6ae55d7-e4cd-4c33-9a4d-1d6fb3794da9"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "AIzaSyD9glz_syY-TdACsQUzrJP8I8StBgwqkQ8"
            },
            {
              "name": "cx",
              "value": "8752837cb00854d3c"
            },
            {
              "name": "q",
              "value": "={{$json.nombre}} sector económico empresa Colombia"
            }
          ]
        }
      },
      "name": "Search Engine Empresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        80,
        -576
      ],
      "id": "9fa09b96-d592-4580-919c-85c12280e72a"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const results = item.json.items || [];\n  // Filtrar URLs válidas y evitar PDFs\n  const urls = results\n    .map(r => r.link)\n    .filter(url => url && \n      !url.includes('.pdf') && \n      !url.includes('.doc') &&\n      url.startsWith('http')\n    );\n  \n  return { \n    json: { \n      nombre: item.json.queries.request[0].searchTerms, \n      urls: urls.slice(0, 5) // Limitar a 5 URLs por empresa\n    } \n  };\n});"
      },
      "name": "ExtraerURLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        288,
        -784
      ],
      "id": "57d6e2cf-15ec-4e23-9bd5-995bb717d02e"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        496,
        -784
      ],
      "id": "5cb2d913-7c0b-4a71-a0f1-9420b7a6f097"
    },
    {
      "parameters": {
        "url": "={{$json.urls[$itemIndex]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {
          "followAllRedirects": true,
          "timeout": 30000
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "Referer",
              "value": "https://www.google.com/"
            }
          ]
        }
      },
      "name": "ScrapingURL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        672,
        -784
      ],
      "id": "d604da1c-cae8-4d40-a477-c753d843e367",
      "retryOnFail": true
    },
    {
      "parameters": {
        "functionCode": "// Verificar si hay contenido válido\nif (!$json.body || $json.body.includes('404') || $json.body.includes('Not Found')) {\n  return [{ \n    json: { \n      fragmentos: ['URL no disponible'], \n      url: $json.url || 'Sin URL',\n      nombreBusqueda: $json.nombre || 'Sin nombre',\n      error: 'Página no encontrada'\n    } \n  }];\n}\n\nconst html = $json.body || '';\nconst regex = /(sector\\s+económico|actividad\\s+principal|clasificación\\s+ciiu|código\\s+ciiu|actividad\\s+económica)([^<.]{0,200})/gi;\nconst matches = [...html.matchAll(regex)];\nconst fragments = matches.map(m => m[0].trim());\n\nreturn [{ \n  json: { \n    fragmentos: fragments.length ? fragments : ['Sector no identificado'], \n    url: $json.url || 'Sin URL',\n    nombreBusqueda: $json.nombre || 'Sin nombre'\n  } \n}];"
      },
      "name": "ExtraerTexto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        928,
        -576
      ],
      "id": "6a5a0b43-ffb1-49f4-8f08-cbca7777046a"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "name": "Consolidar",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        -576
      ],
      "id": "8f7c5df7-82db-42bd-8ea4-0fe7490653c7"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Responder2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1328,
        -576
      ],
      "id": "b5d6c0f6-7686-49cb-be2b-d106049ffcb7"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "nombres": [
            "CONSULTORIAS Y ASESORIAS",
            "FURESA SAS",
            "SUPRE CREDITO",
            "SUCROAL S.A.",
            "C.I. TZF S.A.S.",
            "INCAUCA S.A."
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-12T01:30:45.488Z",
      "updatedAt": "2025-09-12T01:30:45.488Z",
      "role": "workflow:owner",
      "workflowId": "pvXn6ykdEQlFLoNz",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "createdAt": "2025-07-01T19:23:18.030Z",
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T19:23:18.030Z",
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "createdAt": "2025-07-01T19:23:15.406Z",
              "updatedAt": "2025-11-04T16:05:23.106Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-12T19:38:26.172Z",
  "versionId": "86d12cb4-7d0d-4d33-94d5-33fd2f7456de"
}