Presencia ejecutiva.json
{
  "active": true,
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent_ejecutiva",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "res_process": {
      "main": [
        [
          {
            "node": "update process_expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_prompts": {
      "main": [
        [
          {
            "node": "AI_Agent_ejecutiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent_ejecutiva": {
      "main": [
        [
          {
            "node": "res_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "set_prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onform": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update process_expert": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-09T19:33:46.883Z",
  "id": "VexTLbtbIOLs9diN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Presencia ejecutiva",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "id": "f4badb6f-e2f7-420b-bf7f-1ee7511a22a2",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2496,
        928
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "QHcEKyQfjZXrcwHF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "The CV is uploaded to Google Drive and converted so that it can be processed\n",
        "height": 592,
        "width": 924
      },
      "id": "1ad427bb-3108-4263-a58f-0d30e3e2814b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3904,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// ===== NODO CODE: Preparar datos para Supabase =====\n// Este código prepara los datos del informe para almacenar en la tabla process_expert\n\n// Obtener los datos del informe generado\nconst informeOutput = $('AI_Agent_ejecutiva').first().json.output;\n\n// Obtener datos del experto (asumiendo que vienen de nodos anteriores)\nconst expertId = $('Webhook').first().json.body.expert_id;\n  // $('Onform').first().json.ID; // Ajustar según tu flujo\n\n// Preparar los datos del paso 3 (  Presencia Ejecutiva )\nconst datosInforme = {\n    informe_completo: informeOutput,\n    fecha_generacion: new Date().toISOString(),\n    tipo_informe: \"Presencia Ejecutiva\",\n    // Agregar datos adicionales del análisis si es necesario\n    evaluacion_presencia: $('Code').first().json.evaluacion_presencia,\n    datos_personales: $('Code').first().json.datos_personales,\n    analisis_dimensional: $('Code').first().json.analisis_dimensional,\n    disposiciones_accion: $('Code').first().json.disposiciones_accion\n};\n\n// Preparar datos para actualizar el paso AFQ (orden 2, índice 1)\nreturn {\n  paso_actual:4,\n  expert_Id: expertId,\n  update_data: datosInforme,\n  completado: true,\n  fecha_completado: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        656
      ],
      "id": "9a0611ce-0c14-4c0d-9ede-cd9ab7cd9964",
      "name": "res_process"
    },
    {
      "parameters": {
        "content": "Summary of relevant information useful for classifying the candidate",
        "height": 620,
        "width": 968,
        "color": 4
      },
      "id": "89e6a6cb-7f8d-4e43-a6e4-4b9fae9b84a3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "={{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3232,
        656
      ],
      "id": "9cb67f5b-c07c-4ebb-bf39-9d4e67786261",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc95f6e5-ec90-4bd3-b0d6-6f034e8a7ba6",
              "name": "prompt_user_Presencia",
              "value": "=Por favor, analiza los siguientes datos del cuestionario de Presencia Ejecutiva y genera un informe completo siguiendo la estructura establecida:\n\n## Datos del Evaluado:\n**Nombre:** {{ $json.datos_personales.nombre_completo }}\n**Fecha de Evaluación:** {{ $json.evaluacion_presencia.fecha_evaluacion }}\n**ID de Evaluación:** {{ $json.evaluacion_presencia.submission_id }}\n\n## Resultados por Dimensiones:\n\n### 1. Propósito y Claridad (Puntaje: {{ $json.analisis_dimensional.dimension_proposito_claridad.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_proposito_claridad.nivel_desarrollo }})\n- Claridad del propósito profesional: {{ $json.analisis_dimensional.dimension_proposito_claridad.proposito_profesional }}/5\n- Capacidad de explicación sencilla: {{ $json.analisis_dimensional.dimension_proposito_claridad.explicacion_sencilla }}/5\n- Valores reflejados en el trabajo: {{ $json.analisis_dimensional.dimension_proposito_claridad.valores_reflejados }}/5\n- Identificación de fortalezas: {{ $json.analisis_dimensional.dimension_proposito_claridad.fortalezas_diferenciadores }}/5\n- Claridad sobre reconocimiento deseado: {{ $json.analisis_dimensional.dimension_proposito_claridad.reconocimiento_temas }}/5\n\n### 2. Reconocimiento Profesional (Puntaje: {{ $json.analisis_dimensional.dimension_reconocimiento.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_reconocimiento.nivel_desarrollo }})\n- Reconocimiento como experto: {{ $json.analisis_dimensional.dimension_reconocimiento.reconocimiento_experto }}/5\n- Solicitudes de colaboración: {{ $json.analisis_dimensional.dimension_reconocimiento.solicitudes_colaboracion }}/5\n- Colaboración regular: {{ $json.analisis_dimensional.dimension_reconocimiento.colaboracion_regular }}/5\n- Participación en eventos: {{ $json.analisis_dimensional.dimension_reconocimiento.participacion_eventos }}/5\n- Red de contactos alineada: {{ $json.analisis_dimensional.dimension_reconocimiento.red_contactos }}/5\n\n### 3. Presencia Digital (Puntaje: {{ $json.analisis_dimensional.dimension_presencia_digital.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_presencia_digital.nivel_desarrollo }})\n- Perfiles actualizados: {{ $json.analisis_dimensional.dimension_presencia_digital.perfiles_actualizados }}/5\n- Presencia en plataformas: {{ $json.analisis_dimensional.dimension_presencia_digital.presencia_plataformas }}/5\n- Creación de contenido: {{ $json.analisis_dimensional.dimension_presencia_digital.creacion_contenido }}/5\n- Cuidado estético: {{ $json.analisis_dimensional.dimension_presencia_digital.cuidado_estetica }}/5\n- Participación en charlas: {{ $json.analisis_dimensional.dimension_presencia_digital.participacion_charlas }}/5\n\n### 4. Inversión en Desarrollo (Puntaje: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.nivel_desarrollo }})\n- Inversión de tiempo: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.inversion_tiempo }}/5\n- Visibilidad de servicios: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.visibilidad_servicios }}/5\n- Mensajes estratégicos: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.mensajes_estrategicos }}/5\n- Reconocimiento externo: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.reconocimiento_externo }}/5\n- Búsqueda de oportunidades: {{ $json.analisis_dimensional.dimension_inversion_desarrollo.busqueda_oportunidades }}/5\n\n### 5. Gestión de Contenido (Puntaje: {{ $json.analisis_dimensional.dimension_gestion_contenido.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_gestion_contenido.nivel_desarrollo }})\n- Publicación regular: {{ $json.analisis_dimensional.dimension_gestion_contenido.publicacion_regular }}/5\n- Portafolio/brochure: {{ $json.analisis_dimensional.dimension_gestion_contenido.portafolio_brochure }}/5\n- Contenido planificado: {{ $json.analisis_dimensional.dimension_gestion_contenido.contenido_planificado }}/5\n- Herramientas digitales: {{ $json.analisis_dimensional.dimension_gestion_contenido.herramientas_digitales }}/5\n- Sitio web/landing: {{ $json.analisis_dimensional.dimension_gestion_contenido.sitio_web }}/5\n\n### 6. Competencias Técnicas (Puntaje: {{ $json.analisis_dimensional.dimension_competencias.puntaje_dimension }}/25 - Nivel: {{ $json.analisis_dimensional.dimension_competencias.nivel_desarrollo }})\n- Conocimientos de presencia ejecutiva: {{ $json.analisis_dimensional.dimension_competencias.conocimiento_presencia }}/5\n- Habilidades de diseño: {{ $json.analisis_dimensional.dimension_competencias.habilidades_diseno }}/5\n- Gestión de redes sociales: {{ $json.analisis_dimensional.dimension_competencias.gestion_redes }}/5\n- Material audiovisual: {{ $json.analisis_dimensional.dimension_competencias.material_audiovisual }}/5\n- Apoyo externo: {{ $json.analisis_dimensional.dimension_competencias.apoyo_externos }}/5\n\n## **PUNTAJE TOTAL: {{ $json.evaluacion_presencia.puntaje_total }}/150**\n\n## Disposiciones hacia Acciones:\n\n### Disposiciones Positivas (\"Lo haría\"):\n{% set positivas = [] %}\n{% for key, value in $json.disposiciones_accion %}\n  {% if value == \"Lo haría\" %}\n    {% set positivas = positivas.push(key) %}\n  {% endif %}\n{% endfor %}\n{{ positivas.join(\", \") }}\n\n### Disposiciones Moderadas (\"Debo pensarlo\"):\n{% set moderadas = [] %}\n{% for key, value in $json.disposiciones_accion %}\n  {% if value == \"Debo pensarlo\" %}\n    {% set moderadas = moderadas.push(key) %}\n  {% endif %}\n{% endfor %}\n{{ moderadas.join(\", \") }}\n\n### Disposiciones Negativas (\"No lo haría\"):\n{% set negativas = [] %}\n{% for key, value in $json.disposiciones_accion %}\n  {% if value == \"No lo haría\" %}\n    {% set negativas = negativas.push(key) %}\n  {% endif %}\n{% endfor %}\n{{ negativas.join(\", \") }}\n\n---\n\n## Instrucciones Específicas:\n\n1. **Calcula la interpretación del puntaje total:**\n   - 120-150 puntos: \"Muy alto\"\n   - 90-119 puntos: \"Alto\" \n   - 60-89 puntos: \"Medio\"\n   - Menos de 60 puntos: \"Bajo\"\n\n2. **Identifica patrones en las disposiciones:**\n   - Si hay muchas respuestas \"No lo haría\" en acciones de visibilidad, menciona enfoques progresivos\n   - Si muestra resistencia a mostrar rostro/voz, sugiere alternativas de contenido\n   - Si prefiere delegar, enfócate en servicios de acompañamiento\n\n3. **Personaliza las recomendaciones:**\n   - Basa las sugerencias en sus fortalezas identificadas\n   - Respeta sus limitaciones expresadas pero ofrece alternativas\n\n4. **Mantén el tono:**\n   - Empático pero motivador\n   - Profesional pero accesible\n   - Orientado a la acción pero sin presionar\n\n5. **Estructura el informe exactamente como se solicita:**\n   - Nivel de Presencia Ejecutiva (interpretación + contexto)\n   - Servicios de Fortalecimiento Personalizado (tabla de 4 columnas)\n   - Activación en la Red Antifrágil (tabla de 3 columnas)",
              "type": "string"
            },
            {
              "id": "801b7cd2-ec7a-4cac-9fea-d0c6f4322d38",
              "name": "prompt_system_Presencia",
              "value": "=# Prompt Optimizado para Informe de Presencia Ejecutiva\n\n## CONTEXTO Y ROL\nActúa como consultor experto en liderazgo estratégico, visibilidad profesional y desarrollo de presencia ejecutiva para expertos senior. Tu tarea es analizar los resultados del cuestionario de Presencia Ejecutiva y generar un informe completo, estructurado, profesional y personalizado.\n\n## DATOS DE ENTRADA\nRecibirás un JSON con la siguiente estructura:\n- `datos_personales`: nombre, fecha nacimiento, edad\n- `evaluacion_presencia`: fecha evaluación, puntaje total\n- `analisis_dimensional`: 6 dimensiones con puntajes y niveles\n- `disposiciones_accion`: respuestas sobre disposición a diferentes actividades\n\n## ANÁLISIS REQUERIDO\n\n### 1. INTERPRETACIÓN DEL PUNTAJE TOTAL\n- 0-60 puntos: \"Presencia Emergente\"\n- 61-90 puntos: \"Presencia en Desarrollo\" \n- 91-120 puntos: \"Presencia Consolidada\"\n- 121-150 puntos: \"Presencia de Referente\"\n\n### 2. ANÁLISIS DE DIMENSIONES\nConsidera estas 6 dimensiones:\n- Propósito y Claridad (máx 25 pts)\n- Reconocimiento (máx 25 pts) \n- Presencia Digital (máx 25 pts)\n- Inversión en Desarrollo (máx 25 pts)\n- Gestión de Contenido (máx 25 pts)\n- Competencias (máx 25 pts)\n\n### 3. EVALUACIÓN DE DISPOSICIONES\nAnaliza las respuestas \"No lo haría\" como posibles resistencias o creencias limitantes.\n\n## INSTRUCCIONES DE FORMATO Y ENTREGA\n\n**CRÍTICO**: Entrega ÚNICAMENTE el texto en formato de variables, sin arrays JSON, bloques de código, markdown o estructuras adicionales.\n\nUsa EXACTAMENTE este formato:\n\n```\nevaluada: [Nombre completo]\nfecha: [Fecha en formato DD/MM/YYYY] \npuntaje_total: [Número del puntaje]\ninterpretacion: [Nivel según puntaje: Emergente/En Desarrollo/Consolidada/Referente]\nNivel_Presencia_Ejecutiva: [Párrafo explicativo del nivel en tono profesional y empático, 150-200 palabras, destacando oportunidades y motivando desde la toma de conciencia]\nobservaciones_complementarias: [Análisis de disposiciones, especialmente \"No lo haría\", con enfoques progresivos y alternativas adaptadas, 100-150 palabras]\n\narea_1: [Área prioritaria 1]\nactividad_1: [Actividad específica recomendada]\nmodalidad_1: [Formato de entrega: presencial/virtual/híbrida/autoguiada]\nobjetivo_1: [Resultado esperado específico]\n\narea_2: [Área prioritaria 2] \nactividad_2: [Actividad específica recomendada]\nmodalidad_2: [Formato de entrega]\nobjetivo_2: [Resultado esperado específico]\n\narea_3: [Área prioritaria 3]\nactividad_3: [Actividad específica recomendada] \nmodalidad_3: [Formato de entrega]\nobjetivo_3: [Resultado esperado específico]\n\narea_4: [Área prioritaria 4]\nactividad_4: [Actividad específica recomendada]\nmodalidad_4: [Formato de entrega] \nobjetivo_4: [Resultado esperado específico]\n\nobjetivo_act_1: [Objetivo de activación 1]\nactividad_act_1: [Actividad de red específica]\ndetalle_act_1: [Descripción detallada de implementación]\n\nobjetivo_act_2: [Objetivo de activación 2]\nactividad_act_2: [Actividad de red específica]\ndetalle_act_2: [Descripción detallada de implementación]\n\nobjetivo_act_3: [Objetivo de activación 3] \nactividad_act_3: [Actividad de red específica]\ndetalle_act_3: [Descripción detallada de implementación]\n\nobjetivo_act_4: [Objetivo de activación 4]\nactividad_act_4: [Actividad de red específica] \ndetalle_act_4: [Descripción detallada de implementación]\n```\n\n## CRITERIOS DE CALIDAD\n\n### Servicios de Fortalecimiento (areas 1-4)\nPrioriza según dimensiones más bajas:\n- Mentoría para narrativa y propuesta de valor\n- Diseño visual e identidad profesional  \n- Optimización de perfil LinkedIn\n- Plan editorial asistido\n- Taller de speaking y oratoria\n- Grabación de videos ejecutivos\n- Estrategia de contenido digital\n- Desarrollo de material audiovisual\n\n### Activación en Red (objetivos_act 1-4)\nEnfoca en posicionamiento como referente:\n- Publicación de serie temática\n- Mentoría en círculos de líderes\n- Cápsulas de conocimiento especializadas  \n- Intervenciones en webinars sectoriales\n- Programas de mentoría individual\n- Participación en paneles de expertos\n- Creación de contenido colaborativo\n- Liderazgo de iniciativas sectoriales\n\n## REGLAS CRÍTICAS\n1. NO mencionar el nombre del experto en análisis o interpretaciones\n2. Lenguaje profesional, claro y motivador\n3. Enfocar como posible referente, mentor o catalizador\n4. Si hay resistencias, sugerir alternativas progresivas\n5. Cada variable debe ser texto continuo sin saltos de línea internos\n6. Separar cada variable con línea en blanco\n7. NO usar comillas en los valores\n8. NO usar caracteres especiales de escape",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2832,
        656
      ],
      "id": "72d5a60a-daa6-4ca1-abd5-b1db4c2e70be",
      "name": "set_prompts"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt_user_Presencia }}",
        "options": {
          "systemMessage": "={{ $json.prompt_system_Presencia }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2560,
        656
      ],
      "id": "d896ae35-80e7-4e72-b35b-f0e815ae2fe3",
      "name": "AI_Agent_ejecutiva"
    },
    {
      "parameters": {
        "jsCode": "// Transformar datos del Excel al formato esperado por el agente\nfunction transformExcelToAgentFormat(excelData) {\n  const data = excelData[0]; // Primer elemento del array\n  \n  // Función auxiliar para extraer el puntaje numérico\n  function extractScore(value) {\n    if (typeof value === 'string' && value.includes('|')) {\n      return parseInt(value.split('|')[0].trim());\n    }\n    return typeof value === 'number' ? value : 0;\n  }\n  \n  // Función auxiliar para convertir fecha de Excel\n  function excelDateToString(excelDate) {\n    if (typeof excelDate === 'number') {\n      const date = new Date((excelDate - 25569) * 86400 * 1000);\n      return date.toLocaleDateString('es-ES', {\n        day: '2-digit',\n        month: '2-digit', \n        year: 'numeric'\n      });\n    }\n    return excelDate;\n  }\n  \n  // Función para mapear disposiciones\n  function mapDisposition(value) {\n    if (value.includes('✅ Lo haría')) return 'Lo haría';\n    if (value.includes('⚠️Debo pensarlo')) return 'Debo pensarlo';\n    if (value.includes('❌ No lo haría')) return 'No lo haría';\n    return 'Debo pensarlo'; // valor por defecto\n  }\n  \n  // Calcular edad (asumiendo que tenemos fecha de nacimiento)\n  function calculateAge(birthDate) {\n    if (!birthDate) return null;\n    const today = new Date();\n    const birth = new Date(birthDate);\n    let age = today.getFullYear() - birth.getFullYear();\n    const monthDiff = today.getMonth() - birth.getMonth();\n    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birth.getDate())) {\n      age--;\n    }\n    return age;\n  }\n  \n  // Función para determinar nivel de desarrollo basado en puntaje\n  function determineLevel(score, maxScore = 25) {\n    const percentage = (score / maxScore) * 100;\n    if (percentage >= 90) return 'Experto';\n    if (percentage >= 75) return 'Avanzado';\n    if (percentage >= 60) return 'Intermedio';\n    if (percentage >= 40) return 'Básico';\n    return 'Inicial';\n  }\n  \n  // Extraer puntajes por dimensión\n  const dimension1 = {\n    proposito_profesional: extractScore(data['Tengo claro mi propósito profesional.']),\n    explicacion_sencilla: extractScore(data['Sé explicar de manera sencilla qué hago y a quién ayudo.']),\n    valores_reflejados: extractScore(data['Mis valores personales están reflejados en mi trabajo.']),\n    fortalezas_diferenciadores: extractScore(data['Identifico las principales fortalezas y diferenciadores de mi presencia ejecutiva.']),\n    reconocimiento_temas: extractScore(data['Sé con qué temas, áreas y sectores me gustaría ser reconocido(a).'])\n  };\n  \n  const dimension2 = {\n    reconocimiento_experto: extractScore(data['Las personas me reconocen como experto(a) en mi campo.']),\n    solicitudes_colaboracion: extractScore(data['Recibo solicitudes de colaboración o trabajo gracias a lo que hago.']),\n    colaboracion_regular: extractScore(data['Colaboro regularmente con colegas o aliados profesionales.']),\n    participacion_eventos: extractScore(data['He participado en eventos, proyectos o iniciativas como referente.']),\n    red_contactos: extractScore(data['He construido una red de contactos alineada con mis objetivos profesionales.'])\n  };\n  \n  const dimension3 = {\n    perfiles_actualizados: extractScore(data['Cuento con perfiles actualizados en redes profesionales.']),\n    presencia_plataformas: extractScore(data['Tengo presencia en plataformas digitales profesionales, tipo LinkedIn o similares.']),\n    creacion_contenido: extractScore(data['He creado contenido profesional, académico o técnico (artículos, publicaciones, investigaciones, ponencias) para compartir mi conocimiento o experiencia en medios formales o especializados.']),\n    cuidado_estetica: extractScore(data['Diseño y cuido la estética/imagen de mis canales profesionales, sean digitales o análogos.']),\n    participacion_charlas: extractScore(data['He participado o me gustaría participar en charlas, entrevistas o eventos.'])\n  };\n  \n  const dimension4 = {\n    inversion_tiempo: extractScore(data['Invierto tiempo en fortalecer mi presencia ejecutiva.']),\n    visibilidad_servicios: extractScore(data['Hago visibles los servicios que ofrezco a través de redes sociales, de mi discurso o de material en físico.']),\n    mensajes_estrategicos: extractScore(data['He preparado mensajes clave, discursos o argumentos estratégicos relacionados con mi profesión para posicionar mi presencia ejecutiva en reuniones, conversaciones o presentaciones.']),\n    reconocimiento_externo: extractScore(data['Mi presencia ejecutiva trasciende mis redes personales, siendo reconocido por mis colegas, empresarios y entidades por mi trayectoria y servicios.']),\n    busqueda_oportunidades: extractScore(data['Busco activamente oportunidades para mostrar mi experiencia y posicionarme como referente en mi campo.'])\n  };\n  \n  const dimension5 = {\n    publicacion_regular: extractScore(data['Publico con regularidad temas relacionados con mi presencia profesional en redes sociales.']),\n    portafolio_brochure: extractScore(data['Tengo un portafolio/brochure que refleje mis proyectos/servicios.']),\n    contenido_planificado: extractScore(data['He planificado textos, imágenes o publicaciones específicamente diseñadas para redes sociales con el fin de posicionar mi mensaje o presencia profesional.']),\n    herramientas_digitales: extractScore(data['Uso herramientas digitales para mejorar mi comunicación.']),\n    sitio_web: extractScore(data['Cuento con un sitio web/landing page relacionado con mis proyectos/servicios.'])\n  };\n  \n  const dimension6 = {\n    conocimiento_presencia: extractScore(data['Tengo conocimientos sobre presencia ejecutiva, marca personal y redes sociales.']),\n    habilidades_diseno: extractScore(data['Tengo habilidades en diseño gráfico, presentaciones efectivas o similares para desarrollar materiales audiovisuales.']),\n    gestion_redes: extractScore(data['Sé gestionar de manera autónoma y estratégica mis redes sociales.']),\n    material_audiovisual: extractScore(data['Tengo material audiovisual (fotografías, videos, publicaciones) que refleja mi trabajo.']),\n    apoyo_externos: extractScore(data['Tengo recursos o apoyo de externos para delegar tareas de comunicación o diseño.'])\n  };\n  \n  // Calcular puntajes totales por dimensión\n  const puntajeDim1 = Object.values(dimension1).reduce((a, b) => a + b, 0);\n  const puntajeDim2 = Object.values(dimension2).reduce((a, b) => a + b, 0);\n  const puntajeDim3 = Object.values(dimension3).reduce((a, b) => a + b, 0);\n  const puntajeDim4 = Object.values(dimension4).reduce((a, b) => a + b, 0);\n  const puntajeDim5 = Object.values(dimension5).reduce((a, b) => a + b, 0);\n  const puntajeDim6 = Object.values(dimension6).reduce((a, b) => a + b, 0);\n  \n  // Transformar al formato del agente\n  const agentData = {\n    datos_personales: {\n      nombre_completo: `${data['[Nombre completo] Nombres']} ${data['[Nombre completo] Apellidos']}`,\n      nombres: data['[Nombre completo] Nombres'],\n      apellidos: data['[Nombre completo] Apellidos'],\n      fecha_nacimiento: excelDateToString(data['Fecha']),\n      edad: null // Se puede calcular si tienes la fecha de nacimiento correcta\n    },\n    evaluacion_presencia: {\n      fecha_evaluacion: excelDateToString(data['Submission Date']),\n      puntaje_total: data['Total Score'],\n      submission_id: data['Submission ID']\n    },\n    analisis_dimensional: {\n      dimension_proposito_claridad: {\n        puntaje_dimension: puntajeDim1,\n        nivel_desarrollo: determineLevel(puntajeDim1),\n        ...dimension1\n      },\n      dimension_reconocimiento: {\n        puntaje_dimension: puntajeDim2,\n        nivel_desarrollo: determineLevel(puntajeDim2),\n        ...dimension2\n      },\n      dimension_presencia_digital: {\n        puntaje_dimension: puntajeDim3,\n        nivel_desarrollo: determineLevel(puntajeDim3),\n        ...dimension3\n      },\n      dimension_inversion_desarrollo: {\n        puntaje_dimension: puntajeDim4,\n        nivel_desarrollo: determineLevel(puntajeDim4),\n        ...dimension4\n      },\n      dimension_gestion_contenido: {\n        puntaje_dimension: puntajeDim5,\n        nivel_desarrollo: determineLevel(puntajeDim5),\n        ...dimension5\n      },\n      dimension_competencias: {\n        puntaje_dimension: puntajeDim6,\n        nivel_desarrollo: determineLevel(puntajeDim6),\n        ...dimension6\n      }\n    },\n    disposiciones_accion: {\n      inversion_estrategica: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Valorar la presencia ejecutiva o marca personal como una inversión estratégica.']),\n      acompanamiento_profesional: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Preferir un acompañamiento profesional en marca personal o presencia ejecutiva.']),\n      presupuesto_mensual: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Asignar un presupuesto mensual para fortalecer mi posicionamiento ejecutivo.']),\n      servicios_audiovisuales: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Contratar servicios para producir videos o fotografías para redes sociales o portafolio.']),\n      contenido_audiovisual: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Publicar contenidos audiovisuales que usen voz e imagen, como videos cortos o entrevistas grabadas.']),\n      mostrar_rostro: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Mostrar el rostro en fotografías profesionales y personales en publicaciones o redes sociales.']),\n      aspectos_personales: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Compartir aspectos personales (anécdotas, valores) para conectar con otros.']),\n      publicacion_recurrente: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Publicar contenido recurrentemente en redes sociales.']),\n      articulos_blogs: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Escribir artículos, blogs o columnas de opinión profesional.']),\n      contenido_sin_imagen: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Crear contenidos informativos sin aparecer visualmente (solo voz o texto).']),\n      charlas_publicas: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Participar en charlas, webinars o talleres como conferencista en escenarios públicos.']),\n      mentorias_personalizadas: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Participar en mentorías o asesorías más personalizadas o con grupos cerrados.']),\n      eventos_networking: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Asistir a eventos o ruedas de networking para posicionar mi perfil ejecutivo.']),\n      delegar_comunicacion: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Delegar la comunicación visual de las publicaciones y material físico relacionado con la imagen ejecutiva.']),\n      delegar_diseno: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Delegar o contratar diseño gráfico especializado de los materiales que impulsen la imagen ejecutiva.']),\n      contratar_redaccion: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Contratar a alguien para redactar contenidos a partir de mis ideas clave.']),\n      usar_plantillas: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Usar plantillas prediseñadas para presentaciones o publicaciones en redes.']),\n      preferir_contenido_escrito: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Preferir contenidos escritos más que los formatos de voz, visuales o audiovisuales.']),\n      preferir_audiovisual: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Preferir contenidos de voz, visuales o audiovisuales más que los contenidos escritos.']),\n      videos_conceptos: mapDisposition(data['[A continuación califica las siguientes afirmaciones en tres niveles, lo que no harías, lo que deberías pensar o condicionar y lo que definitivamente estarías dispuesto a hacer.] Aparecer en videos cortos narrando conceptos clave o consejos ejecutivos.'])\n    },\n    metadata: {\n      fecha_procesamiento: new Date().toISOString(),\n      archivo_origen: \"Presencia ejecutiva Idianeth Castillo.xlsx\",\n      agente_procesador: \"excel-transformer-v1.0\"\n    }\n  };\n  \n  return agentData;\n}\n\n// Para usar en n8n, aplicar la transformación a los datos de entrada\nconst inputData = $input.all();\nconst transformedData = inputData.map(item => transformExcelToAgentFormat([item.json]));\n\nreturn transformedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3232,
        960
      ],
      "id": "f736b33d-1391-4779-9577-1b57e733ab95",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/recibirPE",
        "options": {
          "binaryPropertyName": "PresenciaEjecutiva",
          "responseData": "JSON"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3760,
        656
      ],
      "id": "f1620cf4-4776-428f-9d19-8b0563fcd703",
      "name": "Webhook",
      "webhookId": "c0c9f429-fccc-4c13-a061-3868d8e879ad"
    },
    {
      "parameters": {
        "formTitle": "Presencia Ejecutiva",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "ID",
              "placeholder": "24b1db71-f440-4c05-bf2a-9f4fe27bd166",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "8a265d4e-d652-48c4-8ef1-110ef4346ae5",
      "name": "Onform",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -3760,
        880
      ],
      "webhookId": "32ad438f-5159-4f23-bdde-3eb49ea5a8b2",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Versión corregida\nlet results = [];\n\n// Acceder a los datos del webhook actual, no de un nodo inexistente\nfor (let item of $input.all()) {\n    // Verificar si hay datos binarios\n    if (item.binary) {\n        // Si hay un archivo específico llamado \"Archivo\"\n        if (item.binary.Archivo) {\n            let originalFileName = item.binary.Archivo.fileName;\n            let cleanFileName = originalFileName.replace(/\\s/g, '_');\n            \n            results.push({\n                json: {\n                    fileName: cleanFileName,\n                    originalFileName: originalFileName,\n                    mimeType: item.binary.Archivo.mimeType,\n                    fileExtension: item.binary.Archivo.fileExtension,\n                    fileSize: item.binary.Archivo.fileSize\n                },\n                binary: {\n                    [cleanFileName]: item.binary.Archivo\n                }\n            });\n        }\n        // O procesar todos los archivos binarios si hay varios\n        else {\n            for (let binaryKey in item.binary) {\n                let originalFileName = item.binary[binaryKey].fileName;\n                let cleanFileName = originalFileName.replace(/\\s/g, '_');\n                \n                results.push({\n                    json: {\n                        fileName: cleanFileName,\n                        originalFileName: originalFileName,\n                        mimeType: item.binary[binaryKey].mimeType,\n                        fileExtension: item.binary[binaryKey].fileExtension,\n                        fileSize: item.binary[binaryKey].fileSize\n                    },\n                    binary: {\n                        [cleanFileName]: item.binary[binaryKey]\n                    }\n                });\n            }\n        }\n    }\n}\n\n// Si no hay archivos, devolver los datos del webhook\nif (results.length === 0) {\n    results.push({\n        json: {\n            expert_id: $json.expert_id,\n            submittedAt: $json.submittedAt,\n            message: \"No binary files found\"\n        }\n    });\n}\n\nreturn results;\n\n\n/**  PARA LA OPCION DEL FORMULARIO\n   // Versión simplificada\nlet results = [];\n// let items = $('Onform').all();\n\nfor (let item of $input.all()) {\n    if (item.binary && item.binary.Archivo) {\n        // Procesar específicamente el archivo llamado \"Archivo\"\n        let originalFileName = item.binary.Archivo.fileName;\n        let cleanFileName = originalFileName.replace(/\\s/g, '_');\n        \n        results.push({\n            json: {\n                fileName: cleanFileName,\n                originalFileName: originalFileName,\n                mimeType: item.binary.Archivo.mimeType,\n                fileExtension: item.binary.Archivo.fileExtension,\n                fileSize: item.binary.Archivo.fileSize\n            },\n            binary: {\n                [cleanFileName]: item.binary.Archivo\n            }\n        });\n    }\n}\n\nreturn results;  **/"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3472,
        784
      ],
      "id": "01a21a0f-8060-4eb4-bca7-406bed962ba8",
      "name": "Code2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE process_expert\nSET pasos = jsonb_set(\n    jsonb_set(\n        jsonb_set(\n            pasos,\n            '{2,completado}',\n            '{{ $json.completado ? \"true\" : \"false\" }}'::jsonb,\n            false\n        ),\n        '{2,fecha_completado}',\n        '\"{{ $json.fecha_completado }}\"'::jsonb,\n        false\n    ),\n    '{2,datos}', \n       $J$ {{ JSON.stringify($json.update_data) }} $J$::jsonb,  -- JSON como texto + ::jsonb\n    false\n),\npaso_actual = {{ $json.paso_actual }}\nWHERE expert_id = '{{ $json.expert_Id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2160,
        912
      ],
      "id": "fb74fd4a-c916-498c-b262-8802cf7d9951",
      "name": "update process_expert",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "NGjyMI2AmwkoCk0L"
  },
  "shared": [
    {
      "createdAt": "2025-08-09T19:33:46.883Z",
      "updatedAt": "2025-08-09T19:33:46.883Z",
      "role": "workflow:owner",
      "workflowId": "VexTLbtbIOLs9diN",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "createdAt": "2025-07-01T19:23:18.030Z",
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T19:23:18.030Z",
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "createdAt": "2025-07-01T19:23:15.406Z",
              "updatedAt": "2025-11-04T16:05:23.106Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-08-01T22:11:49Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-08-08T18:43:57Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-09-08T18:55:24.835Z",
  "versionId": "2d6e4fac-ddab-4935-b022-be2dc7348fab"
}