Pulso Antifragil.json
{
  "active": true,
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Agent_pulso",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "res_process": {
      "main": [
        [
          {
            "node": "update process_expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_prompts": {
      "main": [
        [
          {
            "node": "AI_Agent_pulso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onform": {
      "main": [
        [
          {
            "node": "Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile": {
      "main": [
        [
          {
            "node": "set_prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Agent_pulso": {
      "main": [
        [
          {
            "node": "res_process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update process_expert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-19T21:55:41.304Z",
  "description": null,
  "id": "feLktLrU9GZdK9Df",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Pulso Antifragil",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 4000,
          "temperature": 0.7
        }
      },
      "id": "9085f888-6ace-40de-866c-38b4bf5f7887",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -2032,
        928
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "QHcEKyQfjZXrcwHF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el output del agente AI (texto plano)\nconst agentOutput = $input.first().json.output;\n\n// Función para parsear el texto plano con el formato clave: valor\nfunction parseAgentOutput(texto) {\n  const lineas = texto.split('\\n').filter(linea => linea.trim());\n  const datos = {};\n  let claveActual = null;\n  let valorActual = '';\n  \n  for (const linea of lineas) {\n    // Verificar si es una línea de clave (contiene : y no empieza con espacio)\n    if (linea.includes(':') && !linea.startsWith(' ') && !linea.startsWith('\\t')) {\n      // Guardar el valor anterior si existe\n      if (claveActual && valorActual.trim()) {\n        datos[claveActual] = valorActual.trim();\n      }\n      \n      // Extraer nueva clave y valor\n      const colonIndex = linea.indexOf(':');\n      claveActual = linea.substring(0, colonIndex).trim().toLowerCase();\n      valorActual = linea.substring(colonIndex + 1).trim();\n    } else if (claveActual) {\n      // Continuar acumulando valor en la misma línea\n      valorActual += ' ' + linea.trim();\n    }\n  }\n  \n  // Guardar el último valor\n  if (claveActual && valorActual.trim()) {\n    datos[claveActual] = valorActual.trim();\n  }\n  \n  return datos;\n}\n\n// Parsear los datos del output\nconst datosParseados = parseAgentOutput(agentOutput);\n// Preparar el objeto para insertar en la base de datos\nconst registroCoaching = {\n  // Campos básicos extraídos del texto\n  fecha: datosParseados.fecha || null,\n  patron: datosParseados.patron || null,\n  frase: datosParseados.frase || null,\n  interpretacion: datosParseados.interpretacion || null,\n  \n  // Campos adicionales para auditoría\n  fecha_completado: new Date().toISOString(),\n  raw_output: $('Webhook').first().json.body.respuestas, // Guardar el texto original por si acaso\n\n};\n\n// Retornar el objeto preparado para la base de datos\nreturn {\n  // json: registroCoaching\n  completado: true,\n  update_data: registroCoaching\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        656
      ],
      "id": "d2b668c0-76ac-48b0-8f20-1c35afeee36a",
      "name": "res_process"
    },
    {
      "parameters": {
        "content": "Summary of relevant information useful for classifying the candidate",
        "height": 620,
        "width": 1864,
        "color": 4
      },
      "id": "f2c35f0a-ccc5-4abf-a343-8f0df6c50c15",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3104,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc95f6e5-ec90-4bd3-b0d6-6f034e8a7ba6",
              "name": "prompt_user_Pulso",
              "value": "=Analiza la siguiente información de un experto y genera tu respuesta según el formato establecido:\n\n**DATOS DEL EXPERTO:**\n- Experiencia: {{$json.resumen_antifragil}}\n- Senales_antifragilidad: {{$json.senales_antifragilidad}}\n- habilidades_blandas: {{ $json.habilidades_blandas }}\n- expert_ID: {{ $('Webhook').item.json.body.expert_id }}\n- fecha_evaluacion: {{ $('Webhook').item.json.body.submittedAt }}\n- patron: {{ $('Code').item.json.patron }}\n- **RESPUESTA A: ¿Qué habilidades o capacidades desarrollaste como resultado de los desafíos vividos?** habilidades_capacidades: {{ $('Code').item.json.habilidades }}\n- **RESPUESTA B: ¿Cuáles fueron los aprendizajes clave obtenidos?** aprendizajes: {{ $('Code').item.json.aprendizajes }}\n\n## Instrucciones Específicas:\n\n1. **Genera el análisis siguiendo exactamente la estructura requerida en el prompt system**\n\n2. **Mantén el tono:**\n   - Empático pero motivador\n   - Profesional pero accesible\n   - Orientado a la acción pero sin presionar\n   - Siempre expresarse en forma positiva",
              "type": "string"
            },
            {
              "id": "801b7cd2-ec7a-4cac-9fea-d0c6f4322d38",
              "name": "prompt_system_Pulso",
              "value": "=Eres un experto coach en antifragilidad especializado en analizar trayectorias profesionales y extraer insights profundos sobre liderazgo antifrágil. Tu función es analizar el patrón de antifragilidad detectado y las respuestas reflexivas del usuario para generar una interpretación que:\n\n1. **Identifique la frase más potente** de las respuestas del usuario que refleje su esencia antifrágil\n2. **Genere una interpretación profunda** que conecte el patrón detectado con el enfoque antifrágil del experto\n3. **Posicione al experto como mentor** mostrando cómo su visión y experiencia lo define como guía para otros\n\n## MARCO CONCEPTUAL DE ANTIFRAGILIDAD:\n- **Adaptación proactiva**: Responder flexiblemente a cambios inesperados\n- **Evolución activa**: Motivación hacia la novedad y aprendizaje continuo  \n- **Agilidad emocional**: Gestionar emociones en función de objetivos\n- **Destructividad consciente**: Romper patrones que ya no sirven\n\n## PATRONES DE ANTIFRAGILIDAD:\n- **Predominio de pérdida**: Patrón de resultados negativos frecuentes\n- **Predominio de beneficio**: Patrón de aprendizajes y resultados positivos\n- **Alta variabilidad**: Variación intensa con picos marcados de beneficios y pérdidas\n- **Adaptación progresiva**: Evolución positiva con aprendizajes que fortalecen\n\n## INSTRUCCIONES DE FORMATO Y ENTREGA\n\n**CRÍTICO**: Entrega ÚNICAMENTE el texto en formato de variables, sin arrays JSON, bloques de código, markdown o estructuras adicionales.\n\nUsa EXACTAMENTE este formato:\n```\nfecha: [fecha actual en formato dd/mm/yyyy]\npatron: [patrón detectado]\nfrase: [frase más potente extraída de las respuestas, máximo 15 palabras]\ninterpretacion: [interpretación de 4-5 líneas que conecte el patrón con el perfil antifrágil del experto, destacando su capacidad como mentor y guía, usando información de su trayectoria profesional]\n```\n\n## DIRECTRICES:\n- Usa un lenguaje inspirador y profesional\n- Conecta siempre con el contexto profesional del experto\n- Resalta las cualidades de liderazgo antifrágil\n- Enfócate en cómo estas capacidades benefician a otros\n- Mantén coherencia entre patrón, frase e interpretación\n\n## REGLAS CRÍTICAS\n1. NO mencionar el nombre del experto en análisis o interpretaciones\n2. Lenguaje profesional, claro y motivador\n3. Enfocar como posible referente, mentor o catalizador\n4. Si hay resistencias, sugerir alternativas progresivas\n5. Cada variable debe ser texto continuo sin saltos de línea internos\n6. Separar cada variable con línea en blanco\n7. NO usar comillas en los valores\n8. NO usar caracteres especiales de escape",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        656
      ],
      "id": "c323de0c-309d-4ea1-959e-562ecae6947a",
      "name": "set_prompts"
    },
    {
      "parameters": {
        "formTitle": "Pulso Antifrágil",
        "formFields": {
          "values": [
            {
              "fieldLabel": "expert_id",
              "placeholder": "24b1db71-f440-4c05-bf2a-9f4fe27bd166",
              "requiredField": true
            },
            {
              "fieldLabel": "Patron",
              "placeholder": "alta variabilidad",
              "requiredField": true
            },
            {
              "fieldLabel": "¿Qué habilidades o capacidades desarrollaste como resultado de los desafíos vividos? ",
              "fieldType": "textarea",
              "placeholder": "Aceptación, Empatía, Resiliencia",
              "requiredField": true
            },
            {
              "fieldLabel": "¿Cuáles fueron los aprendizajes clave obtenidos? ",
              "fieldType": "textarea",
              "placeholder": "Hay oportunidades y aprendizajes ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "0360748c-081b-421c-bf47-b0d104e0eed9",
      "name": "Onform",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -3072,
        912
      ],
      "webhookId": "0adcf551-3a88-43ed-b150-707b2825bb08",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Join experts and profiles tables\nSELECT \n    e.*,  -- All columns from experts table\n    p.resumen_antifragil,   -- This column from profiles table\n    p.senales_antifragilidad,\n    p.habilidades_blandas\nFROM \n    experts e\nJOIN \n    profiles p ON p.expert_id = e.id\nWHERE \n    e.id = '{{ $json.expert_id }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2592,
        656
      ],
      "id": "ab612a63-396b-40a1-8f03-165dfe568bb2",
      "name": "Profile",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt_user_Pulso }}",
        "options": {
          "systemMessage": "={{ $json.prompt_system_Pulso }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2096,
        656
      ],
      "id": "b972c64c-7913-466c-8212-01bd9d6bac71",
      "name": "AI_Agent_pulso"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/recibirPulso",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "Pulso_data_"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3056,
        656
      ],
      "id": "2a15d956-52fb-4282-844d-b99aea73976c",
      "name": "Webhook",
      "webhookId": "c0c9f429-fccc-4c13-a061-3868d8e879ad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc95f6e5-ec90-4bd3-b0d6-6f034e8a7ba6",
              "name": "prompt_user_Pulso",
              "value": "=Analiza la siguiente información de un experto y genera tu respuesta según el formato establecido:\n\n**DATOS DEL EXPERTO:**\n- Experiencia: {{$json.resumen_antifragil}}\n- Senales_antifragilidad: {{$json.senales_antifragilidad}}\n- habilidades_blandas: {{ $json.habilidades_blandas }}\n- expert_ID: {{ $('Onform').item.json.expert_id }}\n- fecha_evaluacion: {{ $('Onform').item.json.submittedAt }}\n- patron: {{ $('Onform').item.json.Patron }}\n- **RESPUESTA A: ¿Qué habilidades o capacidades desarrollaste como resultado de los desafíos vividos?** habilidades_capacidades: {{ $('Onform').item.json['¿Qué habilidades o capacidades desarrollaste como resultado de los desafíos vividos? '] }}\n- **RESPUESTA A: ¿Cuáles fueron los aprendizajes clave obtenidos?** aprendizajes: {{ $('Onform').item.json['¿Cuáles fueron los aprendizajes clave obtenidos? '] }}\n\n## Instrucciones Específicas:\n\n1. **Genera el análisis siguiendo exactamente la estructura requerida en el prompt system**\n\n2. **Mantén el tono:**\n   - Empático pero motivador\n   - Profesional pero accesible\n   - Orientado a la acción pero sin presionar\n   - Siempre expresarse en forma positiva",
              "type": "string"
            },
            {
              "id": "801b7cd2-ec7a-4cac-9fea-d0c6f4322d38",
              "name": "prompt_system_Pulso",
              "value": "=Eres un experto coach en antifragilidad especializado en analizar trayectorias profesionales y extraer insights profundos sobre liderazgo antifrágil. Tu función es analizar el patrón de antifragilidad detectado y las respuestas reflexivas del usuario para generar una interpretación que:\n\n1. **Identifique la frase más potente** de las respuestas del usuario que refleje su esencia antifrágil\n2. **Genere una interpretación profunda** que conecte el patrón detectado con el enfoque antifrágil del experto\n3. **Posicione al experto como mentor** mostrando cómo su visión y experiencia lo define como guía para otros\n\n## MARCO CONCEPTUAL DE ANTIFRAGILIDAD:\n- **Adaptación proactiva**: Responder flexiblemente a cambios inesperados\n- **Evolución activa**: Motivación hacia la novedad y aprendizaje continuo  \n- **Agilidad emocional**: Gestionar emociones en función de objetivos\n- **Destructividad consciente**: Romper patrones que ya no sirven\n\n## PATRONES DE ANTIFRAGILIDAD:\n- **Predominio de pérdida**: Patrón de resultados negativos frecuentes\n- **Predominio de beneficio**: Patrón de aprendizajes y resultados positivos\n- **Alta variabilidad**: Variación intensa con picos marcados de beneficios y pérdidas\n- **Adaptación progresiva**: Evolución positiva con aprendizajes que fortalecen\n\n## INSTRUCCIONES DE FORMATO Y ENTREGA\n\n**CRÍTICO**: Entrega ÚNICAMENTE el texto en formato de variables, sin arrays JSON, bloques de código, markdown o estructuras adicionales.\n\nUsa EXACTAMENTE este formato:\n```\nfecha: [fecha actual en formato dd/mm/yyyy]\npatron: [patrón detectado]\nfrase: [frase más potente extraída de las respuestas, máximo 15 palabras]\ninterpretacion: [interpretación de 4-5 líneas que conecte el patrón con el perfil antifrágil del experto, destacando su capacidad como mentor y guía, usando información de su trayectoria profesional]\n```\n\n## DIRECTRICES:\n- Usa un lenguaje inspirador y profesional\n- Conecta siempre con el contexto profesional del experto\n- Resalta las cualidades de liderazgo antifrágil\n- Enfócate en cómo estas capacidades benefician a otros\n- Mantén coherencia entre patrón, frase e interpretación\n\n## REGLAS CRÍTICAS\n1. NO mencionar el nombre del experto en análisis o interpretaciones\n2. Lenguaje profesional, claro y motivador\n3. Enfocar como posible referente, mentor o catalizador\n4. Si hay resistencias, sugerir alternativas progresivas\n5. Cada variable debe ser texto continuo sin saltos de línea internos\n6. Separar cada variable con línea en blanco\n7. NO usar comillas en los valores\n8. NO usar caracteres especiales de escape",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2352,
        864
      ],
      "id": "5f4b1bde-da6a-4e8c-856d-f1852543b60e",
      "name": "set_prompts1_onform",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Acceder al webhook (asumiendo que se llama \"Webhook\")\nconst webhookData = $('Webhook').first().json.body;\n\n// Parsear el string JSON de respuestas\nconst respuestasObj = JSON.parse(webhookData.respuestas);\n\nreturn [{\n  json: {\n    expert_id: webhookData.expert_id,\n    submittedAt: webhookData.submittedAt,\n    patron: respuestasObj.patron.trim(), // Quitar espacios extra\n    habilidades: respuestasObj.habilidades.split(', ').map(h => h.trim()),\n    aprendizajes: respuestasObj.aprendizajes.split('\\\\n').map(a => a.trim()).filter(a => a.length > 0)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        656
      ],
      "id": "2927da9a-d6ca-4c4d-b64a-40d770a17c10",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE process_expert\nSET pasos = jsonb_set(\n    jsonb_set(\n        jsonb_set(\n            pasos,\n            '{3,completado}',\n            '{{ $json.completado ? \"true\" : \"false\" }}'::jsonb,\n            false\n        ),\n        '{3,fecha_completado}',\n        '\"{{ $json.update_data.fecha_completado }}\"'::jsonb,\n        false\n    ),\n    '{3,datos}', \n       $J$ {{ JSON.stringify($json.update_data) }} $J$::jsonb,  -- JSON como texto + ::jsonb\n    false\n),\npaso_actual = 5\nWHERE expert_id = '{{ $('Profile').first().json.id}}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1696,
        912
      ],
      "id": "9f7331d6-6630-4d12-8149-8e643d49eef5",
      "name": "update process_expert",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=[\n  {\n    \"success\": {{ $json.success }},\n    \"Completado\" : {{ $json.success }}\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1472,
        912
      ],
      "id": "9ac11532-d5ef-4e60-8119-601d12709d52",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "NGjyMI2AmwkoCk0L"
  },
  "shared": [
    {
      "updatedAt": "2025-08-19T21:55:41.304Z",
      "createdAt": "2025-08-19T21:55:41.304Z",
      "role": "workflow:owner",
      "workflowId": "feLktLrU9GZdK9Df",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "createdAt": "2025-07-01T19:23:18.030Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "createdAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "updatedAt": "2025-12-04T15:07:23.783Z",
              "createdAt": "2025-07-01T19:23:15.406Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:File Created": {
      "lastTimeChecked": "2025-08-01T22:11:49Z"
    },
    "node:File Updated": {
      "lastTimeChecked": "2025-08-08T18:43:57Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-11-07T02:20:05.173Z",
  "versionCounter": 2,
  "versionId": "3558ef82-694b-4658-abc0-6ca9340239ff"
}