Reporte_PEjecutiva.json
{
  "active": true,
  "connections": {
    "Create a expert copy of the informe PE template": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update the expert letter PE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_ID": {
      "main": [
        [
          {
            "node": "Create a expert copy of the informe PE template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "CodeId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "CodeId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CodeId": {
      "main": [
        [
          {
            "node": "find_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-13T23:38:56.101Z",
  "description": null,
  "id": "bbypZAdp4UXufihh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reporte_PEjecutiva",
  "nodes": [
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1WFkjKUsx5aM4U-fdaTQOlUamzwmUkZUIzOct24L65Rc",
          "mode": "id"
        },
        "name": "=Presencia Ejecutiva - {{ $json.nombre }}",
        "options": {
          "copyRequiresWriterPermission": false,
          "description": ""
        }
      },
      "id": "6f670acd-4362-4c9c-8eaf-4c7420ce7d95",
      "name": "Create a expert copy of the informe PE template",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1472,
        256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HhDiD9KyplQpOpXo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos del nodo find_ID\n// const processExpert = $('find_ID').first().json;\n\n// Nodo Code N8N - Parser Variables Presencia Ejecutiva\n// Convierte el informe completo en variables individuales para Google Docs\n\nfor (const inputItem of $('find_ID').all()) {\n  const item = inputItem.json;\n  \n  try {\n    // Parsear los datos desde el campo JSON \"datos\"\n    const datos = typeof item.datos === 'string' ? JSON.parse(item.datos) : item.datos;\n    \n    // Extraer el informe completo\n    const informeCompleto = datos.informe_completo || '';\n    \n    // Función para extraer valor de una variable del texto\n    function extraerVariable(texto, nombreVariable) {\n      // Buscar la línea que contiene la variable\n      const regex = new RegExp(`^${nombreVariable}:\\\\s*(.*)$`, 'm');\n      const match = texto.match(regex);\n      return match ? match[1].trim() : '';\n    }\n    \n    // Función para extraer texto multi-línea hasta la siguiente variable\n    function extraerTextoMultilinea(texto, nombreVariable) {\n      const lines = texto.split('\\n');\n      let capturing = false;\n      let result = [];\n      \n      for (let line of lines) {\n        line = line.trim();\n        \n        // Encontrar el inicio de la variable\n        if (line.startsWith(nombreVariable + ':')) {\n          capturing = true;\n          const valor = line.substring((nombreVariable + ':').length).trim();\n          if (valor) result.push(valor);\n          continue;\n        }\n        \n        // Si estamos capturando y encontramos otra variable, parar\n        if (capturing && line.includes(':') && !line.startsWith(' ')) {\n          // Verificar si es realmente otra variable (formato variable:)\n          const colonIndex = line.indexOf(':');\n          const beforeColon = line.substring(0, colonIndex).trim();\n          if (beforeColon && !beforeColon.includes(' ')) {\n            break;\n          }\n        }\n        \n        // Si estamos capturando, agregar la línea\n        if (capturing && line) {\n          result.push(line);\n        }\n      }\n      \n      return result.join(' ').trim();\n    }\n    \n    // Extraer todas las variables\n    const variables = {\n      // Variables básicas\n      evaluada: extraerVariable(informeCompleto, 'evaluada'),\n      fecha_evaluacion: extraerVariable(informeCompleto, 'fecha'), \n      puntaje_total: extraerVariable(informeCompleto, 'puntaje_total'),\n      interpretacion: extraerVariable(informeCompleto, 'interpretacion'),\n      \n      // Texto largo - Nivel de Presencia Ejecutiva\n      nivel_presencia_ejecutiva: extraerTextoMultilinea(informeCompleto, 'Nivel_Presencia_Ejecutiva'),\n      \n      // Servicios de Fortalecimiento (4 áreas)\n      area_1: extraerVariable(informeCompleto, 'area_1'),\n      actividad_1: extraerVariable(informeCompleto, 'actividad_1'),\n      modalidad_1: extraerVariable(informeCompleto, 'modalidad_1'),\n      objetivo_1: extraerVariable(informeCompleto, 'objetivo_1'),\n      \n      area_2: extraerVariable(informeCompleto, 'area_2'),\n      actividad_2: extraerVariable(informeCompleto, 'actividad_2'),\n      modalidad_2: extraerVariable(informeCompleto, 'modalidad_2'),\n      objetivo_2: extraerVariable(informeCompleto, 'objetivo_2'),\n      \n      area_3: extraerVariable(informeCompleto, 'area_3'),\n      actividad_3: extraerVariable(informeCompleto, 'actividad_3'),\n      modalidad_3: extraerVariable(informeCompleto, 'modalidad_3'),\n      objetivo_3: extraerVariable(informeCompleto, 'objetivo_3'),\n      \n      area_4: extraerVariable(informeCompleto, 'area_4'),\n      actividad_4: extraerVariable(informeCompleto, 'actividad_4'),\n      modalidad_4: extraerVariable(informeCompleto, 'modalidad_4'),\n      objetivo_4: extraerVariable(informeCompleto, 'objetivo_4'),\n      \n      // Activación en la Red (4 actividades)\n      objetivo_act_1: extraerVariable(informeCompleto, 'objetivo_act_1'),\n      actividad_act_1: extraerVariable(informeCompleto, 'actividad_act_1'),\n      detalle_act_1: extraerVariable(informeCompleto, 'detalle_act_1'),\n      \n      objetivo_act_2: extraerVariable(informeCompleto, 'objetivo_act_2'),\n      actividad_act_2: extraerVariable(informeCompleto, 'actividad_act_2'),\n      detalle_act_2: extraerVariable(informeCompleto, 'detalle_act_2'),\n      \n      objetivo_act_3: extraerVariable(informeCompleto, 'objetivo_act_3'),\n      actividad_act_3: extraerVariable(informeCompleto, 'actividad_act_3'),\n      detalle_act_3: extraerVariable(informeCompleto, 'detalle_act_3'),\n      \n      objetivo_act_4: extraerVariable(informeCompleto, 'objetivo_act_4'),\n      actividad_act_4: extraerVariable(informeCompleto, 'actividad_act_4'),\n      detalle_act_4: extraerVariable(informeCompleto, 'detalle_act_4'),\n      \n      // Observaciones complementarias (texto largo)\n      observaciones_complementarias: extraerTextoMultilinea(informeCompleto, 'observaciones_complementarias'),\n      \n      // Metadatos adicionales para referencia\n      expert_id: item.expert_id,\n      nombre_completo: item.nombre,\n      fecha_procesamiento: new Date().toISOString()\n    };\n    \n    // Validar que se extrajeron las variables principales\n    const variablesRequeridas = [\n      'evaluada', 'fecha_evaluacion', 'puntaje_total', 'interpretacion',\n      'area_1', 'actividad_1', 'modalidad_1', 'objetivo_1',\n      'objetivo_act_1', 'actividad_act_1', 'detalle_act_1'\n    ];\n    \n    const variablesFaltantes = variablesRequeridas.filter(v => !variables[v]);\n    \n    if (variablesFaltantes.length > 0) {\n      // andres console.warn(`Variables faltantes: ${variablesFaltantes.join(', ')}`);\n      // Intentar extraer del JSON original como fallback\n      const datosEvaluacion = datos.evaluacion_presencia || {};\n      const datosPersonales = datos.datos_personales || {};\n      \n      variables.evaluada = variables.evaluada || datosPersonales.nombre_completo || item.nombre;\n      variables.fecha_evaluacion = variables.fecha_evaluacion || datosEvaluacion.fecha_evaluacion;\n      variables.puntaje_total = variables.puntaje_total || datosEvaluacion.puntaje_total?.toString();\n    }\n    \n    // Log para debugging\n   /* console.log(`Procesado: ${variables.evaluada}`);\n    console.log(`Variables extraídas: ${Object.keys(variables).length}`);\n    */\n    // Retornar el objeto con todas las variables\n    $input.first().json = variables;\n    \n  } catch (error) {\n    console.error('Error procesando item:', error);\n    // En caso de error, retornar estructura básica con datos disponibles\n    $input.first().json = {\n      error: `Error procesando datos: ${error.message}`,\n      expert_id: item.expert_id || 'unknown',\n      evaluada: item.nombre || 'No disponible',\n      fecha_evaluacion: new Date().toISOString().split('T')[0],\n      puntaje_total: '0',\n      interpretacion: 'Error en procesamiento',\n      nivel_presencia_ejecutiva: 'Error al procesar el informe. Revisar datos de entrada.',\n      area_1: 'Error en procesamiento',\n      actividad_1: 'Revisar configuración',\n      modalidad_1: 'N/A',\n      objetivo_1: 'Solucionar error de procesamiento',\n      objetivo_act_1: 'Error en procesamiento',\n      actividad_act_1: 'Revisar configuración', \n      detalle_act_1: 'Verificar formato de datos de entrada',\n      observaciones_complementarias: `Error: ${error.message}`\n    };\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        256
      ],
      "id": "a720b352-3e4d-4442-aa4b-853fc64bdbbf",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Corrected SQL for accessing nested JSONB data\nSELECT \n    e.id as expert_id,\n    e.nombre,\n    pe.pasos->2->>'datos' as datos\n    \nFROM \n    experts e\nJOIN \n    process_expert pe ON pe.expert_id = e.id\nWHERE \n    e.id = '{{ $json.expertid }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1680,
        256
      ],
      "id": "04c0b79d-58f1-4095-a016-e3b99becd765",
      "name": "find_ID",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generate Perfil Ejecutivo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "expert_id",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "97b83ecc-dd34-4b55-812b-bb2f3c7335b9",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2096,
        448
      ],
      "webhookId": "41c8c7c1-12ec-4a64-8b78-1289437676ca",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Create a expert specific version of the letter and create a doc version of it. Store this on the Google Drive",
        "height": 512,
        "width": 1360
      },
      "id": "bce9d4c2-869a-4444-b2c5-b48c6ba0fec8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Create a expert copy of the informe PE template').item.json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[evaluada]",
              "replaceText": "={{ $json.evaluada }}"
            },
            {
              "action": "replaceAll",
              "text": "[fecha]",
              "replaceText": "={{ $json.fecha_evaluacion }}"
            },
            {
              "action": "replaceAll",
              "text": "[puntaje_total]",
              "replaceText": "={{ $json.puntaje_total }}"
            },
            {
              "action": "replaceAll",
              "text": "[interpretacion]",
              "replaceText": "={{ $json.interpretacion }}"
            },
            {
              "action": "replaceAll",
              "text": "[Nivel_Presencia_Ejecutiva]",
              "replaceText": "={{ $json.nivel_presencia_ejecutiva }}"
            },
            {
              "action": "replaceAll",
              "text": "[area_1]",
              "replaceText": "={{ $json.area_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_1]",
              "replaceText": "={{ $json.actividad_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[modalidad_1]",
              "replaceText": "={{ $json.modalidad_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_1]",
              "replaceText": "={{ $json.objetivo_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[area_2]",
              "replaceText": "={{ $json.area_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_2]",
              "replaceText": "={{ $json.actividad_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[modalidad_2]",
              "replaceText": "={{ $json.modalidad_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_2]",
              "replaceText": "={{ $json.objetivo_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[area_3]",
              "replaceText": "={{ $json.area_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_3]",
              "replaceText": "={{ $json.actividad_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[modalidad_3]",
              "replaceText": "={{ $json.modalidad_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_3]",
              "replaceText": "={{ $json.objetivo_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[area_4]",
              "replaceText": "={{ $json.area_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_4]",
              "replaceText": "={{ $json.actividad_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[modalidad_4]",
              "replaceText": "={{ $json.modalidad_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_4]",
              "replaceText": "={{ $json.objetivo_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_act_1]",
              "replaceText": "={{ $json.objetivo_act_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_act_1]",
              "replaceText": "={{ $json.actividad_act_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[detalle_act_1]",
              "replaceText": "={{ $json.detalle_act_1 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_act_2]",
              "replaceText": "={{ $json.objetivo_act_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_act_2]",
              "replaceText": "={{ $json.actividad_act_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[detalle_act_2]",
              "replaceText": "={{ $json.detalle_act_2 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_act_3]",
              "replaceText": "={{ $json.objetivo_act_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_act_3]",
              "replaceText": "={{ $json.actividad_act_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[detalle_act_3]",
              "replaceText": "={{ $json.detalle_act_3 }}"
            },
            {
              "action": "replaceAll",
              "text": "[objetivo_act_4]",
              "replaceText": "={{ $json.objetivo_act_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[actividad_act_4]",
              "replaceText": "={{ $json.actividad_act_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[detalle_act_4]",
              "replaceText": "={{ $json.detalle_act_4 }}"
            },
            {
              "action": "replaceAll",
              "text": "[observaciones_complementarias]",
              "replaceText": "={{ $json.observaciones_complementarias }}"
            }
          ]
        }
      },
      "id": "7327a750-3aae-4b94-a41a-32050fbf2683",
      "name": "Update the expert letter PE",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -1008,
        256
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "paaBCUaj0T4M0l5P",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ReportePreE",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        256
      ],
      "id": "62a96482-8a39-47ef-b3e8-d6f539af09b8",
      "name": "Webhook",
      "webhookId": "f82e36fb-13e9-4e38-9c84-056b6c43689a"
    },
    {
      "parameters": {
        "jsCode": "// Detectar origen y expertId\nconst expertId = items[0]?.json?.expert_id || items[0]?.json?.body?.expert_id || null;\n\nreturn {\n  json: {\n    expertid: expertId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        256
      ],
      "id": "d09606f3-d14e-4968-8004-e6269cecc251",
      "name": "CodeId"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-13T23:38:56.101Z",
      "createdAt": "2025-08-13T23:38:56.101Z",
      "role": "workflow:owner",
      "workflowId": "bbypZAdp4UXufihh",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "createdAt": "2025-07-01T19:23:18.030Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "createdAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "updatedAt": "2025-12-04T15:07:23.783Z",
              "createdAt": "2025-07-01T19:23:15.406Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-09-23T00:17:41.559Z",
  "versionCounter": 2,
  "versionId": "10949a84-6c28-4e93-8be3-b9a7ddd5096f"
}