Reporte_perfil_ejecutivo.json
{
  "active": true,
  "connections": {
    "find_ID": {
      "main": [
        [
          {
            "node": "Create a copy of the appointment letter template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the expert letter": {
      "main": [
        []
      ]
    },
    "Create a copy of the appointment letter template": {
      "main": [
        [
          {
            "node": "Update the expert letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "find_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T17:29:30.894Z",
  "id": "Th2BZ1jjvSWpgjTM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reporte_perfil_ejecutivo",
  "nodes": [
    {
      "parameters": {
        "content": "Create a expert specific version of the letter and create a doc version of it. Store this on the Google Drive",
        "height": 432,
        "width": 1248
      },
      "id": "5679e726-b2fe-4b64-aedc-acad8ab66f01",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2192,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Join experts and profiles tables\nSELECT \n    e.*,  -- All columns from experts table\n    p.*   -- All columns from profiles table\nFROM \n    experts e\nJOIN \n    profiles p ON p.expert_id = e.id\nWHERE \n    e.id = '{{ $json.expertid }}'::uuid;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1616,
        224
      ],
      "id": "5c2624eb-9e53-4135-956a-ced80fd095d3",
      "name": "find_ID",
      "credentials": {
        "postgres": {
          "id": "Uu2D21neXgVAhibq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[nombre]",
              "replaceText": "={{ $('find_ID').item.json.nombre }}"
            },
            {
              "action": "replaceAll",
              "text": "[resumen_general]",
              "replaceText": "={{ $('find_ID').item.json.resumen_antifragil }}"
            },
            {
              "action": "replaceAll",
              "text": "[trayectoria]",
              "replaceText": "={{ $('find_ID').item.json.trayectoria }}"
            },
            {
              "action": "replaceAll",
              "text": "[indicadores]",
              "replaceText": "={{ $('find_ID').item.json.IndicadoresAF }}"
            },
            {
              "action": "replaceAll",
              "text": "[valor_estrategico]",
              "replaceText": "={{ $('find_ID').item.json.valor_estrategico }}"
            },
            {
              "action": "replaceAll",
              "text": "[recomendacion]",
              "replaceText": "={{ $('find_ID').item.json.recomendacion }}"
            },
            {
              "action": "replaceAll",
              "text": "[ocupacion]",
              "replaceText": "={{ $('find_ID').item.json.ocupacion_actual }}"
            },
            {
              "action": "replaceAll",
              "text": "[profesion]",
              "replaceText": "={{ $('find_ID').item.json.profesion }}"
            },
            {
              "action": "replaceAll",
              "text": "[Nivel educativo]",
              "replaceText": "={{ $('find_ID').item.json.nivel_educativo }}"
            },
            {
              "action": "replaceAll",
              "text": "[anos_experiencia]",
              "replaceText": "={{ $('find_ID').item.json['años_experiencia'] }}"
            },
            {
              "action": "=replaceAll",
              "text": "[sectores]",
              "replaceText": "={{ ($('find_ID').item.json.sectores || []).join(\", \") }}"
            },
            {
              "action": "replaceAll",
              "text": "[anos_ejecutivos]",
              "replaceText": "={{ $('find_ID').item.json.años_ejecutivos }}"
            },
            {
              "action": "replaceAll",
              "text": "[anos_gerente]",
              "replaceText": "={{ $('find_ID').item.json['años_gerencia'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[anos_docente]",
              "replaceText": "={{ $('find_ID').item.json['años_docencia'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[anos_emprender]",
              "replaceText": "={{ $('find_ID').item.json['años_emprendedor'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[pais_expe]",
              "replaceText": "={{ ($('find_ID').item.json.paises_experiencia || []).join(\", \") }}"
            },
            {
              "action": "replaceAll",
              "text": "[habilidades_blandas]",
              "replaceText": "={{ ($('find_ID').item.json.habilidades_blandas || []).join(\", \") }}"
            },
            {
              "action": "replaceAll",
              "text": "[señales_antif]",
              "replaceText": "={{ ($('find_ID').item.json.senales_antifragilidad || []).join(\", \") }}"
            },
            {
              "action": "replaceAll",
              "text": "[perfil_senior]",
              "replaceText": "={{ $('find_ID').item.json.calificacion_senior }}"
            }
          ]
        }
      },
      "id": "b882845f-ac4c-4a58-b4b0-1b844f680434",
      "name": "Update the expert letter",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -1168,
        224
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "paaBCUaj0T4M0l5P",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1bxV76KFfJfWXdJsZ_j8QXIz9Zz6EUV7QEB2tFS3Uicc",
          "mode": "id"
        },
        "name": "=Perfil_Ejecutivo - {{ $json.nombre }}",
        "options": {
          "copyRequiresWriterPermission": false,
          "description": ""
        }
      },
      "id": "01afc5ec-b88c-4a9e-91cf-d90e619ae032",
      "name": "Create a copy of the appointment letter template",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1392,
        224
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HhDiD9KyplQpOpXo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ReporteAF",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        224
      ],
      "id": "3497ea27-5d28-4c7d-b3bf-b18acc8a5307",
      "name": "Webhook",
      "webhookId": "f82e36fb-13e9-4e38-9c84-056b6c43689a"
    },
    {
      "parameters": {
        "formTitle": "Generate Perfil Ejecutivo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "expert_id",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "0c0b9f27-683d-43f5-9885-b2aa1177dd4f",
      "name": "form",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2096,
        400
      ],
      "webhookId": "fa2c91c8-2045-4ca9-8499-65b09a4c42d1",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "// Detectar origen y expertId\nconst expertId = items[0]?.json?.expert_id || items[0]?.json?.body?.expert_id || null;\n\nreturn {\n  json: {\n    expertid: expertId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        288
      ],
      "id": "5f47ea76-807d-4c08-8dcb-231ee9835a5e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-01T17:29:30.894Z",
      "updatedAt": "2025-08-01T17:29:30.894Z",
      "role": "workflow:owner",
      "workflowId": "Th2BZ1jjvSWpgjTM",
      "projectId": "Gno2MGQk3GvSkWE8",
      "project": {
        "createdAt": "2025-07-01T19:23:18.030Z",
        "updatedAt": "2025-07-01T19:25:19.375Z",
        "id": "Gno2MGQk3GvSkWE8",
        "name": "andres mora <anlemoca.pm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-07-01T19:23:18.030Z",
            "updatedAt": "2025-07-01T19:23:18.030Z",
            "userId": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
            "projectId": "Gno2MGQk3GvSkWE8",
            "user": {
              "createdAt": "2025-07-01T19:23:15.406Z",
              "updatedAt": "2025-11-04T16:05:23.106Z",
              "id": "dc44b8ef-5e65-4923-ad54-87ccabab01de",
              "email": "anlemoca.pm@gmail.com",
              "firstName": "andres",
              "lastName": "mora",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-07-01T19:25:43.818Z",
                "personalization_survey_n8n_version": "1.100.1",
                "companyType": "personal",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "dr3hAKohy1Stv249",
                "userActivatedAt": 1757456295739,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1753145911485
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-09-16T17:13:04.133Z",
  "versionId": "3eadd246-ff97-4cae-9ca9-fddbe8df0cdf"
}